<img class="meetings-image-header" src="../../../assets/img/aboutHeader.png" />
<div class="site-divider"></div>
<div class="small-heading">אודות העמותה</div>
<div class="medium-heading">הצוות שלנו</div>
<div class="cards">
  <app-team-card [frontImage]="'/assets/img/about/b-1-1.jpg'" [frontImage2]="'/assets/img/about/b-1-2.jpg'"
    [frontName]="'אליסף פרץ'" [frontTitle]="'ועד מנהל ומייסד העמותה'" [frontGender]="'אחיהם של סגן '"
    [frontBrother]="'אוריאל פרץ ז&quot;ל'" [frontBrotherAnd]="' ושל רב סרן&nbsp;'"
    [frontBrother2]="'אלירז פרץ ז&quot;ל'"
    [frontBrotherLink]="'https://www.izkor.gov.il/%D7%90%D7%95%D7%A8%D7%99%D7%90%D7%9C%20%D7%A4%D7%A8%D7%A5/en_9311332ca81acef28a7b72d240cf7ac2'"
    [frontBrother2Link]="'https://www.izkor.gov.il/%D7%90%D7%9C%D7%99%D7%A8%D7%96%20%D7%A4%D7%A8%D7%A5/en_43424c15c8bf5ae87b6a533fea005de8'"
    data-aos="zoom-in" data-aos-duration="1500">
  </app-team-card>
  <app-team-card [frontImage]="'/assets/img/about/b-2-1.jpg'" [frontImage2]="'/assets/img/about/b-2-2.jpg'"
    [frontName]="'נוי פרי'" [frontTitle]="'ועד מנהל ומייסדת העמותה'" [frontGender]="'אחות של סמ&quot;ר  '"
    [frontBrother]="'טל יפרח ז&quot;ל'"
    [frontBrotherLink]="'https://www.izkor.gov.il/%D7%98%D7%9C-%D7%A0%D7%99%D7%A1%D7%99%D7%9D%20%D7%99%D7%A4%D7%A8%D7%97/en_47f74060b0ef5c817bfa358c6e8bbdea'"
    data-aos="zoom-in" data-aos-duration="1500">
  </app-team-card>
  <app-team-card [frontImage]="'/assets/img/about/b-3-1.jpg'" [frontImage2]="'/assets/img/about/b-3-2.jpg'"
    [frontName]="'מתן בר נוי'" [frontTitle]="'ועד מנהל ומייסד העמותה'" [frontGender]="'&nbsp;'"
    [frontBrother]="'&nbsp;'" data-aos="zoom-in" data-aos-duration="1500">
  </app-team-card>
  <app-team-card [frontImage]="'/assets/img/about/b-4-1.jpg'" [frontImage2]="'/assets/img/about/b-4-2.jpg'"
    [frontName]="'רוני ארנהלט'" [frontTitle]="'מנהלת העמותה'" [frontGender]="'&nbsp;'" [frontBrother]="'&nbsp;'"
    data-aos="zoom-in" data-aos-duration="1500">
  </app-team-card>
  <app-team-card [frontImage]="'/assets/img/about/b-5-1.jpg'" [frontImage2]="'/assets/img/about/b-5-2.jpg'"
    [frontName]="'אמיר קלנגל'" [frontTitle]="'חבר עמותה'" [frontGender]="'אחיו של רס&quot;ן '"
    [frontBrother]="'יוחאי גוחא קלנגל ז&quot;ל'"
    [frontBrotherLink]="'https://www.izkor.gov.il/%D7%99%D7%95%D7%97%D7%90%D7%99%20%D7%A7%D7%9C%D7%A0%D7%92%D7%9C/en_021e3002a0c61e9e30ddd68d00b41992'"
    data-aos="zoom-in" data-aos-duration="1500">
  </app-team-card>
  <app-team-card [frontImage]="'/assets/img/about/b-9-1.jpg'" [frontImage2]="'/assets/img/about/b-9-2.jpg'"
    [frontName]="'דניאל סלים'" [frontTitle]="'חברת עמותה'" [frontGender]="'אחות של רס&quot;ל '"
    [frontBrother]="'עדי סלים ז&quot;ל'"
    [frontBrotherLink]="'https://www.izkor.gov.il/%D7%A2%D7%93%D7%99%20%D7%A1%D7%9C%D7%99%D7%9D/en_fa9d9b6bf5a7a25bc5d49efd2e0eb4fd'"
    data-aos="zoom-in" data-aos-duration="1500">
  </app-team-card>
  <app-team-card [frontImage]="'/assets/img/about/b-10-1.jpg'" [frontImage2]="'/assets/img/about/b-10-2.jpg'"
    [frontName]="'נטע באלוה'" [frontTitle]="'חברת עמותה'" [frontGender]="'אחות של סמ&quot;ר '"
    [frontBrother]="'נדב באלוה ז&quot;ל'"
    [frontBrotherLink]="'https://www.izkor.gov.il/%D7%A0%D7%93%D7%91%20%D7%91%D7%90%D7%9C%D7%95%D7%94/en_d3d9d988f9a65e2878a7bb52b3eef2e2'"
    data-aos="zoom-in" data-aos-duration="1500">
  </app-team-card>
  <app-team-card [frontImage]="'/assets/img/about/b-11-1.jpg'" [frontImage2]="'/assets/img/about/b-11-2.jpg'"
    [frontName]="'אדוה הורביץ'" [frontTitle]="'חברת עמותה'" [frontGender]="'אחות של סמ&quot;ר '"
    [frontBrother]="'אילון הורביץ ז&quot;ל'"
    [frontBrotherLink]="'https://www.izkor.gov.il/%D7%90%D7%99%D7%9C%D7%95%D7%9F-%D7%99%D7%A2%D7%A7%D7%91%20%D7%94%D7%95%D7%A8%D7%91%D7%99%D7%A5/en_0c1f91343a46d60dad38900be1d49151'"
    data-aos="zoom-in" data-aos-duration="1500">
  </app-team-card>
  <app-team-card [frontImage]="'/assets/img/about/b-6-1.jpg'" [frontImage2]="'/assets/img/about/b-6-2.jpg'"
    [frontName]="'גילי מרמלשטיין'" [frontTitle]="'חברת עמותה'" [frontGender]="'אחות של סרן '"
    [frontBrother]="'הראל מרמלשטיין ז&quot;ל'"
    [frontBrotherLink]="'https://www.izkor.gov.il/%D7%94%D7%A8%D7%90%D7%9C%20%D7%9E%D7%A8%D7%9E%D7%9C%D7%A9%D7%98%D7%99%D7%99%D7%9F/en_a82c4af6403d114af961ebad891dd927'"
    data-aos="zoom-in" data-aos-duration="1500">
  </app-team-card>
  <app-team-card [frontImage]="'/assets/img/about/b-7-1.jpg'" [frontImage2]="'/assets/img/about/b-7-2.jpg'"
    [frontName]="'עודד פרומוביץ'" [frontTitle]="'חבר עמותה'" [frontGender]="'אחיו של סמל '"
    [frontBrother]="'רז פרומוביץ ז&quot;ל'"
    [frontBrotherLink]="'https://www.izkor.gov.il/%D7%A8%D7%96%20%D7%A4%D7%A8%D7%95%D7%9E%D7%95%D7%91%D7%99%D7%A5/en_2944f34e109efa1ce73b1a3e1e02fe00'"
    data-aos="zoom-in" data-aos-duration="1500">
  </app-team-card>
  <app-team-card [frontImage]="'/assets/img/about/b-8-1.jpg'" [frontImage2]="'/assets/img/about/b-8-2.jpg'"
    [frontName]="'ירין רובל'" [frontTitle]="'חבר עמותה'" [frontGender]="'אחיו של סמ&quot;ר  '"
    [frontBrother]="'בניה רובל ז&quot;ל'"
    [frontBrotherLink]="'https://www.izkor.gov.il/%D7%91%D7%A0%D7%99%D7%94-%D7%A0%D7%A4%D7%AA%D7%9C%D7%99%20%D7%A8%D7%95%D7%91%D7%9C/en_d161c395a28ef32b307c3af3c1e83113'"
    data-aos="zoom-in" data-aos-duration="1500">
  </app-team-card>
  <app-team-card [frontImage]="'/assets/img/about/b-12-1.jpg'" [frontImage2]="'/assets/img/about/b-12-2.jpg'"
    [frontName]="'ליאור אטיאס'" [frontTitle]="'חברת עמותה'" [frontGender]="'&nbsp;'" [frontBrother]="'&nbsp;'"
    data-aos="zoom-in" data-aos-duration="1500">
  </app-team-card>
  <app-team-card [frontImage]="'/assets/img/about/b-13-1.jpg'" [frontImage2]="'/assets/img/about/b-13-2.jpg'"
    [frontName]="'טלי לזניק'" [frontTitle]="'חברת עמותה'" [frontGender]="'&nbsp;'" [frontBrother]="'&nbsp;'"
    data-aos="zoom-in" data-aos-duration="1500">
  </app-team-card>
  <app-team-card [frontImage]="'/assets/img/about/b-14-1.jpg'" [frontImage2]="'/assets/img/about/b-14-2.jpg'"
    [frontName]="'גיל חנן'" [frontTitle]="'מנהל אתר'" [frontGender]="'&nbsp;'" [frontBrother]="'&nbsp;'"
    data-aos="zoom-in" data-aos-duration="1500">
  </app-team-card>
  <app-team-card [frontImage]="'/assets/img/about/b-15-1.jpg'" [frontImage2]="'/assets/img/about/b-15-2.jpg'"
    [frontName]="'נופית חי'" [frontTitle]="'מעצבת אתר'" [frontGender]="'&nbsp;'" [frontBrother]="'&nbsp;'"
    data-aos="zoom-in" data-aos-duration="1500">
  </app-team-card>
</div>
