<div class="medium-heading">פרטי חלל</div>
<div class="form" [formGroup]="form">
  <div class="form-row">
    <div class="col">
      <input
        class="form-field"
        type="text"
        placeholder="שם פרטי"
        formControlName="firstName"
        [class.invalid]="!firstName.valid && firstName.touched"
      />
    </div>
    <div class="col">
      <input
        class="form-field"
        type="text"
        placeholder="שם משפחה"
        formControlName="lastName"
        [class.invalid]="!lastName.valid && lastName.touched"
      />
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <input
        class="form-field"
        type="text"
        placeholder="תאריך נפילה"
        formControlName="deathDate"
        [class.invalid]="!deathDate.valid && deathDate.touched"
        [max]="maxDate"
        onfocus="(this.type='date')"
        onblur="(this.type='text')"
      />
    </div>
    <div class="col"></div>
  </div>
  <div class="form-row">
    <div class="col">
      <textarea
        class="form-field"
        placeholder="הסיפור שלי - (100-500) תווים"
        formControlName="story"
        [class.invalid]="!story.valid && story.touched"
      ></textarea>
    </div>
  </div>
  <p class="form-invalid-message" *ngIf="formInvalid">
    אחד או יותר מהשדות אינם תקינים
  </p>
  <button (click)="onSubmit()" class="site-button primary-button submit-button">
    המשך
  </button>
</div>
