:host {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 10px solid rgb(0, 160, 153);
  background-color: rgb(0, 160, 153);
  box-shadow: 0px 1px 10px 0px rgba(1, 1, 1, 0.15);

  .search-input {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    flex: 1;
    padding: 10px;
    font-size: 24px;
    font-family: "Arbel";
  }
}
