<div class="backdrop"></div>
<div class="login-container">
  <div class="top-strip"></div>
  <div class="tabs">
    <div class="tabs-items">
      <div
        class="tab-item"
        [class.current]="mode === 'Login'"
        (click)="moveToLogin()"
      >
        התחברות
      </div>
      <div
        class="tab-item"
        [class.current]="mode === 'Register'"
        (click)="moveToRegister()"
      >
        הרשמה
      </div>
    </div>
  </div>
  <div class="content-container">
    <div class="form-title">
      פרטי משתמש
    </div>
    <input
      type="text"
      tabindex="1"
      placeholder="שם פרטי"
      class="login-form-input"
    />
    <input
      type="text"
      tabindex="2"
      placeholder="אימייל"
      class="login-form-input"
    />
    <input
      type="text"
      tabindex="3"
      placeholder="סיסמא"
      class="login-form-input"
    />
    <input
      type="text"
      tabindex="4"
      placeholder="אישור סיסמא"
      class="login-form-input"
    />
    <div class="medium-heading user-type-title">סוג משתמש</div>
  </div>
  <div class="login-button" tabindex="5">
    {{ mode === 'Login' ? 'התחבר' : 'הרשם' }}
  </div>
</div>
