<app-list-header [scroll]="filteredBereaveds.size > 10" [(sort)]="sortedColumn" class="list-header">
  <app-list-column class="col-row-state"></app-list-column>
  <app-list-column title="שם מלא" field="name"></app-list-column>
  <app-list-column title="פרטי התקשרות"></app-list-column>
  <app-list-column title="מקום מגורים"></app-list-column>
  <app-list-column title="ותק בשכול" field="seniority" class="col-seniority"></app-list-column>
  <app-list-column title="הדרכות" field="guidance" class="col-guidance"></app-list-column>
  <app-list-column title="סטטוס" field="status" class="col-status"></app-list-column>
  <app-list-column title="שיבוץ" field="meetings"></app-list-column>
</app-list-header>
<div class="bereaved-items">
  <div *ngFor="let bereaved of bereaveds | sortBereaveds: sortedColumn:year">
    <app-bereaveds-list-row
      [class.hidden]="!filteredBereaveds.has(bereaved.id)"
      [bereaved]="bereaved"
      [currentUser]="currentUser"
      (joinBereved)="joinBereved.emit(bereaved)"
      (leaveBereaved)="leaveBereaved.emit({ user: bereaved, meeting: $event })"
      (deleting)="deleting.emit(bereaved)"
      (volunteering)="volunteering.emit({ user: bereaved, isVolunteer: $event })"
      (bereavedStatus)="bereavedStatus.emit({ bereaved: bereaved, status: $event })"
      (bereavedGuidance)="bereavedGuidance.emit({ bereaved: bereaved, guidance: $event })"
    ></app-bereaveds-list-row>
  </div>
</div>
