:host {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .hidden {
    display: none;
  }

  .list-header {
    .col-row-state {
      flex: 0 1 30px;
    }

    .col-seniority {
      flex: 0 1 120px;
    }

    .col-guidance {
      flex: 0 1 130px;
    }

    .col-status {
      flex: 0 1 130px;
    }
  }

  .bereaved-items {
    height: 100%;
    direction: ltr;
    overflow: auto;
  }
}
