.image-header {
  width: 100%;
  border-bottom: solid rgb(0, 160, 153) 6px;
}

.participate-page-container {
  background-color: rgb(248, 248, 248);

  .progress-container {
    padding-top: 40px;
  }

  .steps-container {
    min-height: 700px;

    .step {
      padding-top: 100px;
      background-color: rgb(248, 248, 248);

      .step-button {
        margin-bottom: 40px;
        margin-top: 40px;
      }
    }
  }
}
