<img class="image-header" src="../../../assets/img/tellHeader.jpg" alt="Meetings Page Header Image" />
<section class="participate-page-container">
  <div class="container">
    <section *ngIf="currentStep > 0" class="progress-container">
      <div class="site-divider"></div>
      <div class="small-heading">פרטים נוספים</div>
      <app-registration-progress-bar [currentStep]="currentStep - 1"
        [steps]="[{title: 'התחברות'},{title: 'הרשמה'},{title: 'שיבוץ'}]">
      </app-registration-progress-bar>
    </section>

    <div class="steps-container">
      <ng-container [ngSwitch]="currentStep">
        <ng-container *ngSwitchCase="0">
          <app-participate-intro (submit)="currentStep$.next(1)"></app-participate-intro>
        </ng-container>
        <ng-container *ngSwitchCase="1">
          <!-- login -->
        </ng-container>
        <ng-container *ngSwitchCase="2">
          <section class="step">
            <app-profile-form [user]="user" [firebaseUser]="firebaseUser" (submit)="onProfileSubmit($event)">
            </app-profile-form>
          </section>
        </ng-container>
        <ng-container *ngSwitchCase="3">
          <app-meetings [user]="user" [meetings]="meetings" (joinMeeting)="onJoinMeeting($event)"> </app-meetings>
        </ng-container>
      </ng-container>
    </div>
  </div>
</section>
