<div class="card-container" [ngClass]="{'disabled': disabled, 'hover': hover}">
  <div class="card-front">
    <div class="card-front-img">
      <ng-container *ngTemplateOutlet="frontImage"></ng-container>
    </div>
    <div class="front-title">
      {{frontTitle}}
    </div>
  </div>
  <div class="card-back">
    <div class="back-text">
      {{backText}}
    </div>
    <a class="back-button" (click)="moveToPage()">
      {{backButtonText}} <span class="button-arrows"><i class="fas fa-angle-double-left"></i></span>
    </a>
  </div>
</div>
