@import '~src/variables.scss';

.menu {
  cursor: pointer;
  text-decoration: none;
  font-family: 'Heebo';
  color: rgb(0, 115, 109);
  font-size: 19px;
  font-weight: 500;
  position: relative;

  &:hover,
  &.active {
    font-weight: bold;
  }

  @media only screen and (min-width: $header-mobile-breakpoint) {
    &:hover::before,
    &.active::before {
      content: '';
      background-color: rgb(0, 160, 153);
      position: absolute;
      top: 3px;
      width: 33px;
      height: 1px;
      animation-name: currentPageBefore;
      animation-duration: 1s;
      animation-iteration-count: 1;
    }

    @keyframes currentPageBefore {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0%);
      }
    }

    &:hover::after,
    &.active::after {
      content: '';
      background-color: rgb(0, 115, 109);
      position: absolute;
      width: 33px;
      height: 1px;
      bottom: 3px;
      left: 0;
      animation-name: currentPageAfter;
      animation-duration: 1s;
      animation-iteration-count: 1;
    }

    @keyframes currentPageAfter {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(0%);
      }
    }
  }
}

.drop-down-menu {
  position: relative;

  .content {
    min-width: 170px;
    min-height: 50px;
    background-color: white;

    @media only screen and (min-width: $header-mobile-breakpoint) {
      position: fixed;
      z-index: 10;
      padding: 1em 0.5em;
      border-radius: 0.5em;
      box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.75);
    }

    .menu-items {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      flex-wrap: wrap;

      .menu-item {
        padding: 0 0.5em;
        background-color: white;
        color: #00a099;
        text-decoration: none;

        &:hover,
        &.active {
          background-color: #00a099;
          color: white;
        }

        &:not(:last-child):after {
          content: '';
          display: block;
          padding: 0 0.5em;
          height: 1px;
          background-color: lightgray;
          opacity: 0.3;
        }
      }
    }

    .menu-triangle {
      display: none;

      @media only screen and (min-width: $header-mobile-breakpoint) {
        display: block;
        position: absolute;
        bottom: 100%;
        left: 70%;
        width: 0;
        border-style: solid;
        border-width: 0 7.5px 7px 7.5px;
        border-color: transparent transparent #ffffff transparent;
      }
    }
  }
}
