.tell-image-header {
  width: 100%;
  border-bottom: solid rgb(0, 160, 153) 6px;
}

.fallen-date-input {
  max-width: none;
}

.tell-page-container {
  background-color: rgb(248, 248, 248);

  .progress-container {
    padding-top: 40px;
  }

  .steps-container {
    min-height: 700px;

    .step {
      padding-top: 100px;
      background-color: rgb(248, 248, 248);

      .training-container {
        max-width: 770px;
        margin: auto;
        margin-bottom: 40px;

        .training-text {
          margin-bottom: 20px;
        }

        .training-option {
          margin-bottom: 10px;
        }
      }

      .step-button {
        margin-bottom: 40px;
        margin-top: 40px;
      }
    }
  }
}
