.heading {
  font-size: 36px;
  font-family: 'arbel';
  color: rgb(55, 135, 177);
  font-weight: bold;
  text-align: center;
  letter-spacing: 5px;
  margin-bottom: 40px;

  @media only screen and (max-width: 768px) {
    margin-bottom: 20px;
  }

  &.bereaved-heading {
    margin-top: 80px;

    @media only screen and (max-width: 768px) {
      margin-top: 40px;
    }
  }

  &.participates-heading {
    margin-top: 80px;

    @media only screen and (max-width: 768px) {
      margin-top: 40px;
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .col {
    flex: 0 0 auto;
    margin: 15px;
    min-width: 350px;
    max-width: 400px;

    @media only screen and (max-width: 768px) {
      margin: 10px;
    }
  }
}

.edit-button {
  position: relative;
  padding-right: 55px;
  padding-left: 20px;
  background-color: rgb(55, 135, 177);
  height: 50px;
  display: flex;
  align-items: center;
  width: 170px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 55px;
    height: 50px;
    background-image: url(../../../assets/img/host_edit_white.svg);
    background-position: 50% 50%;
    background-size: 20px 20px;
    background-repeat: no-repeat;
  }

  .edit-button-text {
    flex: 0 0 auto;
    font-size: 18px;
    color: white;
    font-family: 'Heebo';
  }
}

.delete-button {
  position: relative;
  padding-right: 65px;
  padding-left: 20px;
  background-color: rgb(55, 135, 177);
  height: 50px;
  display: flex;
  align-items: center;
  width: 170px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 65px;
    height: 50px;
    background-image: url(../../../assets/img/host_delete_white.svg);
    background-position: 50% 50%;
    background-size: 20px 20px;
    background-repeat: no-repeat;
  }

  .delete-button-text {
    flex: 0 0 auto;
    font-size: 18px;
    color: white;
    font-family: 'Heebo';
  }
}

.share-container {
  width: 370px;
  display: flex;
  align-items: center;

  .share-text {
    font-size: 18px;
    color: rgb(153, 153, 153);
    font-family: 'Heebo';
  }

  .facebook-icon {
    width: 16px;
    height: 28px;
    background-image: url(../../../assets/img/facebook.png);
    background-size: 100% 100%;
  }

  .whatsapp-icon {
    width: 25px;
    height: 25px;
    background-image: url(../../../assets/img/whatsapp.png);
    background-size: 100% 100%;
  }
}
