<div class="login-form">
  <div class="body">
    <div class="title">
      שכחתי סיסמא
    </div>
    <p class="description">
      הכנס כתובת אימייל על מנת לאפס את הסיסמא.
    </p>
    <ng-container [formGroup]="form">
      <input
        type="email"
        placeholder="אימייל"
        class="input"
        formControlName="email"
        [class.invalid]="!email.valid && email.touched"
      />
    </ng-container>
  </div>
  <button
    class="site-button main-button"
    tabindex="5"
    (click)="onSubmit()"
    [disabled]="loading"
  >
    שלח
  </button>
</div>
