<div class="form-title">
  התחברות
</div>
<div class="user-type-container"></div>
<ng-container [formGroup]="loginForm">
  <input
    type="text"
    placeholder="אימייל"
    class="login-form-input"
    formControlName="email"
    [class.invalid]="!email.valid && email.touched"
  />
  <input
    type="password"
    placeholder="סיסמא"
    class="login-form-input"
    formControlName="pass"
    [class.invalid]="!pass.valid && pass.touched"
  />
</ng-container>
<div class="login-footer">
  <div class="login-foorter-buttons-container">
    <div class="login-foorter-button" (click)="haveNoUser.emit()">
      אין לי משתמש
    </div>
    <div class="login-foorter-divider"></div>
    <div class="login-foorter-button">
      שכחתי סיסמא
    </div>
  </div>
  <div class="remember-me-container">
    <app-checkbox
      label="זכור אותי"
      [checked]="rememberMe.value"
      (checkedChanged)="rememberMe.setValue($event)"
    ></app-checkbox>
  </div>
</div>
<div class="login-with-buttons">
  <div class="login-with-button facebook" (click)="signInWithFacebook()">
    <div class="login-with-button-icon">
      <img src="../../../../assets/img/facebook-login-icon.png" />
    </div>
    <div class="login-with-button-divider"></div>
    <div class="login-with-button-text">
      <p>התחבר עם פייסבוק</p>
    </div>
  </div>
  <div class="login-with-button google" (click)="signInWithGoogle()">
    <div class="login-with-button-icon">
      <img src="../../../../assets/img/google-login-icon.png" />
    </div>
    <div class="login-with-button-divider"></div>
    <div class="login-with-button-text">
      <p>התחבר עם גוגל</p>
    </div>
  </div>
</div>
