.footer {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  .nav-buttons {
    display: flex;
    align-items: center;
  }

  .remember-me-container {
    display: flex;
    align-items: center;
  }
}
