<div class="login-form">
  <div class="body">
    <div class="title">
      התחברות
    </div>
    <ng-container [formGroup]="form">
      <input type="text" placeholder="אימייל" class="input" formControlName="email"
        [class.invalid]="!email.valid && email.touched" />
      <input type="password" placeholder="סיסמא" class="input" formControlName="password"
        [class.invalid]="!password.valid && password.touched" />
    </ng-container>
    <div class="footer">
      <div class="nav-buttons">
        <button class="nav-button" (click)="haveNoUser.emit()">
          אין לי משתמש
        </button>
        <div class="divider"></div>
        <button class="nav-button" (click)="forgotPassword.emit()">
          שכחתי סיסמא
        </button>
      </div>
      <div class="remember-me-container">
        <app-checkbox label="זכור אותי" [checked]="rememberMe.value" (checkedChanged)="rememberMe.setValue($event)">
        </app-checkbox>
      </div>
    </div>
    <div class="social-buttons">
      <app-login-social-button class="social-button" [type]="'facebook'" (click)="signInWithFacebook.emit()">
        התחבר עם פייסבוק
      </app-login-social-button>
      <app-login-social-button class="social-button" [type]="'google'" (click)="signInWithGoogle.emit()">
        התחבר עם גוגל
      </app-login-social-button>
    </div>
  </div>
  <button class="site-button main-button" tabindex="5" (click)="onSubmit()" [disabled]="loading">
    התחבר
  </button>
</div>
