<section class="intro">
  <div class="site-divider"></div>
  <div class="small-heading">מפגשים</div>
  <div class="medium-heading">איך נראים המפגשים שלנו?</div>
  <div class="site-text">
    <p>
      משתתפים יקרים, אנו שמחים שאתם מעוניינים לקחת חלק במפגשי 'האחים שלנו'. ניתן
      להרשם ולהשתתף באחד מהמפגשים הפתוחים לקהל הרחב. תודה לך על פתיחות הלב ועל
      היותך חלק ממעגל הזיכרון וההנצחה של האחים והאחיות השכולים.
    </p>
  </div>
  <div (click)="submit.emit()" class="site-button primary-button intro-button">
    המשך
  </div>
</section>
