.progressbar-container {
  display: flex;
  flex-direction: row;

  .progressbar-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    .step-circle-container {
      width: 100%;
      display: flex;
      align-items: center;

      .step-circle {
        flex: 0 1 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgb(10, 165, 155);
        font-size: 16px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        @media only screen and (min-width: 768px) {
          height: 60px;
          flex-basis: 60px;
          font-size: 22px;
        }

        @media only screen and (min-width: 1024px) {
          height: 80px;
          flex-basis: 80px;
          font-size: 30px;
        }
      }

      .step-line {
        flex-grow: 1;
        height: 12px;
        background-color: rgb(219, 219, 219);

        &.current,
        &.done {
          background-color: rgb(10, 165, 155);
        }
      }
    }

    .step-name {
      font-size: 12px;
      color: rgb(0, 115, 109);

      @media only screen and (min-width: 425px) {
        font-size: 14px;
      }

      @media only screen and (min-width: 768px) {
        font-size: 22px;
      }

      @media only screen and (min-width: 1024px) {
        font-size: 28px;
      }
    }
  }
}
