<div
  *ngIf="formGroup"
  (click)="focusInput()"
  class="form-field"
  [class.textarea-input]="textarea"
  [class.invalid]="!control.valid && control.touched"
  [formGroup]="formGroup"
>
  <div class="icon-label">
    <div *ngIf="iconUrl" class="input-icon" [style.background-image]="'url(' + iconUrl + ')'"></div>
    <div class="input-label">
      {{ label }}
    </div>
  </div>
  <input #input *ngIf="!textarea" [type]="inputType" [formControlName]="controlName" [min]="min" [max]="max" />
  <textarea #input *ngIf="textarea" [formControlName]="controlName"></textarea>
</div>
