<div class="header">
  <div class="logo-header"></div>
  <div class="links-header">
    <a class="link-header" routerLink="/" routerLinkActive="current-page">דף הבית</a>
    <a class="link-header" routerLink="/meatings" routerLinkActive="current-page">מפגשים</a>
    <a class="link-header" routerLink="/about" routerLinkActive="current-page">אודותינו</a>
    <a class="link-header" routerLink="/info" routerLinkActive="current-page">מבנה הערב</a>
    <a class="link-header" routerLink="/questions" routerLinkActive="current-page">שאלות</a>
    <a class="link-header" routerLink="/gallery" routerLinkActive="current-page">גלריה</a>
    <a class="link-header" routerLink="/contact" routerLinkActive="current-page">צור קשר</a>
  </div>
  <div class="contact-header">
    <div class="contact-header-user"></div>
    <div class="contact-header-facebook"></div>
    <div class="contact-header-youtube"></div>
    <div class="contact-header-email-us"></div>
    <div class="contact-header-support-us site-button">תמיכה בעמותה</div>
  </div>
</div>
<router-outlet></router-outlet>
<div class="footer">

</div>