.drop-down-menu {
    position: relative;
    display: inline-block;

    .drop-down-menu-anchor {
        display: inline-block;
    }

    .drop-down-menu-content {
        display: none;
        position: fixed;
        z-index: 10;
        min-width: 150px;
        min-height: 50px;
        background-color: white;
        padding: 1em 0.5em;
        border-radius: 0.5em;
        box-shadow: 13px -16px 22px -4px rgba(0,0,0,0.75);

        .drop-down-menu-triangle {
            position: absolute;
            bottom: 100%;
            left: 70%;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 7.5px 7px 7.5px;
            border-color: transparent transparent #ffffff transparent;
        }
    }

    &:hover .drop-down-menu-content {
        display: block;
    }
}

