<img class="image-header" src="../../../assets/img/articlesHeader.jpg.png" />
<div class="site-divider"></div>
<h1 class="small-heading" data-aos="fade-up" data-aos-duration="1000">
  אודות העמותה
</h1>
<h2 class="medium-heading" data-aos="fade-up" data-aos-duration="1000">
  עלינו בתקשורת
</h2>
<div class="articles-contianer">
  <div class="articles-list-contianer">
    <div class="article-item">
      <div class="article-item-img-container">
        <img
          class="article-item-img"
          src="https://img.mako.co.il/2019/03/24/WI0324_i.jpg"
        />
      </div>
      <div class="article-item-date">
        28 במרס, 2019
      </div>
      <div class="article-item-title">
        המיזם שמזמין אתכם לארח אח שכול: "פתחו את ביתכם ושמעו את סיפורים"
      </div>
      <div class="article-item-desc">
        במיזם שיצרו האחים השכולים הם מאפשרים לציבור הרחב להזמין אותם לבתים,
        למרכזים קהילתיים ותנועות נוער כדי לשתף בסיפור החיים של האחים שאיבדו,
        הצחוקים, החלומות והחיים שלהם עם השכול. "המפגשים מפילים חומות ומקרבים,
        בואו לשמוע אותנו"
      </div>
      <a
        class="article-item-link"
        href="https://www.mako.co.il/pzm-magazine/Article-ea95eddf6ffa961006.htm"
        target="_blank"
      >
        לכתבה המלאה
      </a>
    </div>
  </div>
</div>
