<img class="image-header" src="../../../assets/img/articlesHeader.jpg.png" />
<div class="site-divider"></div>
<h1 class="small-heading" data-aos="fade-up" data-aos-duration="1000">
  אודות העמותה
</h1>
<h2 class="medium-heading" data-aos="fade-up" data-aos-duration="1000">
  עלינו בתקשורת
</h2>
<div class="articles-contianer">
  <div class="articles-list-contianer">
    <div class="article-item">
      <div class="article-item-img-container">
        <div class="article-item-img"></div>
      </div>
      <div class="article-item-date">
        29 באפריל, 2017
      </div>
      <div class="article-item-title">
        "האחים שלנו": יחד באבל וגם ביצירה
      </div>
      <div class="article-item-desc">
        אליסף פרץ, ששניים מאחיו נפלו בלבנון ובעזה, חיפש דרך חדשה שתאפשר לו
        ולאחים שכולים אחרים לספר על האח שנפל ועל ההתמודדות שלהם
      </div>
      <div class="article-item-link">
        לכתבה המלאה
      </div>
    </div>
    <div class="article-item">
      <div class="article-item-img-container">
        <div class="article-item-img"></div>
      </div>
      <div class="article-item-date">
        20 באפריל, 2018
      </div>
      <div class="article-item-title">
        האחים שלנו בתכנית אנשים
      </div>
      <div class="article-item-desc">
        אמיר, אח של יוחאי (ג'וחא) קלנגל ז"ל ספיר, אחות של עידן כהן ז"ל וזוהר, אח
        של הדר בוכריס ז"ל משתפים במשמעות השכול והאחים שלנו עבורם.
      </div>
      <div class="article-item-link">
        לכתבה המלאה
      </div>
    </div>
    <div class="article-item">
      <div class="article-item-img-container">
        <div class="article-item-img"></div>
      </div>
      <div class="article-item-date">
        29 באפריל, 2017
      </div>
      <div class="article-item-title">
        "אתה מאבד אח, אבל גם את ההורים": על פרויקט "האחים שלנו"
      </div>
      <div class="article-item-desc">
        טל יפרח ז"ל נפל בשג'אעיה בצוק איתן, ואחותו נוי התארחה אצל חנוך דאום בערב
        הפתיחה של מיזם "האחים שלנו" להיכרות עם אחים שכולים והנופלים:
      </div>
      <div class="article-item-link">
        לכתבה המלאה
      </div>
    </div>
    <div class="article-item">
      <div class="article-item-img-container">
        <div class="article-item-img"></div>
      </div>
      <div class="article-item-date">
        29 באפריל, 2017
      </div>
      <div class="article-item-title">
        "האחים שלנו": יחד באבל וגם ביצירה
      </div>
      <div class="article-item-desc">
        אליסף פרץ, ששניים מאחיו נפלו בלבנון ובעזה, חיפש דרך חדשה שתאפשר לו
        ולאחים שכולים אחרים לספר על האח שנפל ועל ההתמודדות שלהם
      </div>
      <div class="article-item-link">
        לכתבה המלאה
      </div>
    </div>
    <div class="article-item">
      <div class="article-item-img-container">
        <div class="article-item-img"></div>
      </div>
      <div class="article-item-date">
        20 באפריל, 2018
      </div>
      <div class="article-item-title">
        האחים שלנו בתכנית אנשים
      </div>
      <div class="article-item-desc">
        אמיר, אח של יוחאי (ג'וחא) קלנגל ז"ל ספיר, אחות של עידן כהן ז"ל וזוהר, אח
        של הדר בוכריס ז"ל משתפים במשמעות השכול והאחים שלנו עבורם.
      </div>
      <div class="article-item-link">
        לכתבה המלאה
      </div>
    </div>
    <div class="article-item">
      <div class="article-item-img-container">
        <div class="article-item-img"></div>
      </div>
      <div class="article-item-date">
        29 באפריל, 2017
      </div>
      <div class="article-item-title">
        "אתה מאבד אח, אבל גם את ההורים": על פרויקט "האחים שלנו"
      </div>
      <div class="article-item-desc">
        טל יפרח ז"ל נפל בשג'אעיה בצוק איתן, ואחותו נוי התארחה אצל חנוך דאום בערב
        הפתיחה של מיזם "האחים שלנו" להיכרות עם אחים שכולים והנופלים:
      </div>
      <div class="article-item-link">
        לכתבה המלאה
      </div>
    </div>
  </div>
</div>
