<div class="form-title">
  פרטי משתמש
</div>
<ng-container [formGroup]="profileForm">
  <input type="text" placeholder="אימייל" class="login-form-input" formControlName="email"
    [class.invalid]="!email.valid && email.touched" />
  <input type="text" placeholder="שם פרטי" class="login-form-input" formControlName="firstName"
    [class.invalid]="!firstName.valid && firstName.touched" />
  <input type="text" placeholder="שם משפחה" class="login-form-input" formControlName="lastName"
    [class.invalid]="!lastName.valid && lastName.touched" />
  <input type="text" placeholder="טלפון" class="login-form-input" formControlName="phoneNumber"
    [class.invalid]="!phoneNumber.valid && phoneNumber.touched" />
  <app-checkbox [label]="'אני מסכים לתנאי השימוש'" [checked]="agree.value" [invalid]="!agree.valid && agree.touched"
    (checkedChanged)="agree.setValue($event)"></app-checkbox>
</ng-container>
