.form {
  max-width: 770px;
  margin: auto;

  .form-row {
    display: flex;
    margin-bottom: 30px;

    .col {
      flex: 1;

      margin: 0 5px;

      @media only screen and (min-width: 768px) {
        padding-top: 10px;
      }

      @media only screen and (min-width: 1024px) {
        padding-top: 15px;
      }
    }
  }

  .agree-input {
    font-size: 18px;

    .site-link {
      margin-right: 4px;
      vertical-align: top;
    }
  }

  .sumbit-button {
    margin-bottom: 40px;
    margin-top: 40px;
  }
}
