$textColor: rgb(129, 129, 129);
$mobileBreakpoint: 1024px;

.meeting-item {
  display: flex;
  flex-flow: row;
  border-bottom: 1px solid rgb(227, 229, 231);

  @media only screen and (max-width: $mobileBreakpoint) {
    display: grid;
    grid-template-rows: 50px repeat(4, 25px) 45px;
    border: 2px solid lightgray;
    margin: 10px 20px;
  }

  .meeting-item-col {
    flex: 1;
    display: flex;
    align-items: top;
    padding: 45px 5px;
    font-size: 18px;
    color: $textColor;

    @media only screen and (max-width: $mobileBreakpoint) {
      margin: 0 2px;
      padding-right: 20px;
      align-self: center;
    }

    .meeting-link {
      font-size: 22px;
      font-family: 'arbel';
      color: rgb(0, 115, 109);
      text-decoration: none;
    }

    .meeting-label {
      margin-left: 4px;
    }

    .mobile-label {
      display: none;

      @media only screen and (max-width: $mobileBreakpoint) {
        display: inline;
        margin-left: 2px;
      }
    }

    &.meeting-address-col {
      .meeting-address {
        padding-right: 15px;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          width: 12px;
          height: 17px;
          right: 0;
          top: 5px;
          background-image: url(../../../assets/img/location.png);
          background-size: cover;
        }
      }
    }

    &.date-col {
      flex: 0 1 130px;
      justify-content: center;

      @media only screen and (max-width: $mobileBreakpoint) {
        justify-content: start;
      }

      .date {
        padding-right: 17px;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          width: 14px;
          height: 14px;
          right: 0;
          top: 5px;
          background-image: url(../../../assets/img/calend.png);
          background-size: cover;
        }
      }
    }

    &.participants-col {
      flex: 0 1 175px;
      justify-content: center;

      @media only screen and (max-width: $mobileBreakpoint) {
        justify-content: start;
      }
    }

    &.meeting-join {
      flex: 0 1 92px;

      @media only screen and (max-width: $mobileBreakpoint) {
        justify-content: flex-end;

        .join-button {
          margin-left: 12px;
          margin-bottom: 8px;
        }
      }
    }
  }
}
