<div class="meeting-item">
  <div class="meeting-item-col meeting-name">
    {{meeting.title}}
  </div>
  <div class="meeting-item-col meeting-address">
    {{meeting.address.formattedAddress}}
  </div>
  <div class="meeting-item-col date-col">
    {{meeting.date | date: 'dd.MM.yyyy'}}
  </div>
  <div class="meeting-item-col meeting-participants">
    <span class="mobile-label">
      כמות משתתפים:
    </span>
    {{meeting.capacity}}
    <span *ngIf="meeting.invited" style="margin-right: 2px;">
      - מוזמנים בלבד
    </span>
  </div>
  <div class="meeting-item-col meeting-bereaved">
    <span class="mobile-label">
      אח\ות:
    </span>
    <span *ngIf="meeting.bereaved">
      {{meeting.bereaved.firstName + ' ' + meeting.bereaved.lastName}}
    </span>
  </div>
  <div class="meeting-item-col meeting-button" *ngIf="user && participationsService.isUserHaveAllDetails(user)">
    <app-join-button [user]="user" [meeting]="meeting" (joinMeeting)="joinMeeting.emit(meeting)"></app-join-button>
  </div>
</div>
