<div class="meeting-item">
  <div class="meeting-item-col meeting-name">
    <a
      class="meeting-link"
      [routerLink]="
        '/meetings/' + year + '/' + meeting.hostId + '/' + meeting.id
      "
    >
      {{ meeting.title }}
    </a>
  </div>
  <div class="meeting-item-col meeting-address-col">
    <div class="meeting-address">
      {{ meeting.address.formattedAddress }}
    </div>
  </div>
  <div class="meeting-item-col date-col">
    <div class="date">
      {{ meeting.date | date: 'dd.MM.yyyy' }}
    </div>
  </div>
  <div class="meeting-item-col participants-col">
    <span class="mobile-label">
      כמות משתתפים:
    </span>
    {{ meeting.capacity }}
    <span *ngIf="meeting.invited" style="margin-right: 2px;">
      - מוזמנים בלבד
    </span>
  </div>
  <div class="meeting-item-col meeting-bereaved">
    <span class="mobile-label">
      אח\ות:
    </span>
    <span *ngIf="meeting.bereaved">
      {{ meeting.bereaved.firstName + ' ' + meeting.bereaved.lastName }}
    </span>
  </div>
  <div
    class="meeting-item-col meeting-button"
    *ngIf="user && participationsService.isUserHaveAllDetails(user)"
  >
    <app-join-button
      [user]="user"
      [meeting]="meeting"
      (joinMeeting)="joinMeeting.emit(meeting)"
    ></app-join-button>
  </div>
</div>
