<img class="meetings-image-header" src="../../../assets/img/contactHeader.png" alt="Meetings Page Header Image" />
<div class="details">
  <div class="medium-heading">צרו קשר</div>
  <div class="details-text">
    נשמח לעזור בכל נושא. השאירו הודעה והצוות הנפלא שלנו יחזור אליכם
  </div>
  <div class="details-contact-table">
    <div class="row">
      <div class="col">
        טלפון:
      </div>
      <div class="col">
        __________
      </div>
    </div>
    <div class="row">
      <div class="col">
        אימייל:
      </div>
      <div class="col">
        Info@ourbrothers.org
      </div>
    </div>
    <div class="row">
      <div class="col">
        רשתות חבריות:
      </div>
      <div class="col">
        פייסבוק - האחים שלנו
        <br>
        אינסטגרם - ourbrothers2020
      </div>
    </div>
  </div>
</div>

<div class="contact-form">
  <div class="medium-heading">נשמח לשמוע מכם</div>
  <app-contact-form></app-contact-form>
</div>
