$textColor: rgb(129, 129, 129);

.select-container {
  border: none;
  color: $textColor;

  .value-container {
    display: flex;
    align-items: center;
    padding: 0 2px;

    .values {
      flex: 1;
      display: flex;
      flex-direction: column;

      .value {
        flex: 1;
        min-height: 1em;
        cursor: pointer;
      }
    }

    .controls {
      flex: 0 0 auto;
      padding: 0 2px;

      .remove-icon {
        font-size: 12px;
        margin-left: 5px;
      }

      .triangle-icon {
        width: 15px;
        display: inline-block;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          border: 5px solid transparent;
          border-top: 5px solid $textColor;
        }
      }
    }
  }

  &.editable {
    border: 1px solid rgb(0, 160, 153);
  }

  &.readonly {
    .value-container {
      cursor: default;
    }
  }

  .options {
    position: absolute;
    border: 1px solid $textColor;
    background-color: white;

    .option {
      padding: 5px 10px;
      border-top: 1px solid $textColor;
      cursor: pointer;

      &.active {
        background-color: rgba(0, 160, 152, 0.3);
      }
    }
  }
}
