.container-fluid {
  max-width: calc(85%);
  margin-left: auto;
  margin-right: auto;

  @media only screen and (max-width: 1600px) {
    max-width: calc(95%);
  }

  @media only screen and (max-width: 1000px) {
    max-width: calc(100%);
  }
}

.bereaveds-container {
  margin-top: 30px;

  .bereaveds-list-container {
    height: 800px;
    margin-top: 20px;
    margin-bottom: 200px;
    position: relative;

    .loading {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 999999;
    }

    .error-message {
      direction: ltr;
      text-align: left;
    }
  }
}
