<app-list-header [(sort)]="sortedColumn" (sortChange)="sort()">
  <app-list-column [field]="'name'">
    שם מלא
  </app-list-column>
  <app-list-column>
    פרטי התקשרות
  </app-list-column>
  <app-list-column>
    מקום מגורים
  </app-list-column>
  <app-list-column [field]="'seniority'">
    ותק בשכול
  </app-list-column>
  <app-list-column>
    הדרכות
  </app-list-column>
  <app-list-column>
    סטטוס
  </app-list-column>
  <app-list-column>
    שיבוץ
  </app-list-column>
</app-list-header>
<cdk-virtual-scroll-viewport itemSize="20" class="bereaved-items">
  <div class="bereaved-item" *ngFor="let bereaved of sortedBereaveds">
    <div class="bereaved-item-col bereaved-name">
      {{bereaved.profile?.firstName + ' ' + bereaved.profile?.lastName}}
    </div>
    <div class="bereaved-item-col bereaved-communications">
      <div class="bereaved-phone" *ngIf="bereaved.profile?.phoneNumber">
        <div class="phone-number">
          {{bereaved.profile.phoneNumber | phone}}
        </div>
        <div class="phone-icon"></div>
      </div>
      <div class="bereaved-email" *ngIf="bereaved.profile?.email">
        <div class="email-address">
          {{bereaved.profile?.email}}
        </div>
        <div class="email-icon"></div>
      </div>
    </div>
    <div class="bereaved-item-col">
    </div>
    <div class="bereaved-item-col bereaved-seniorities">
      <div *ngFor="let slain of bereaved?.bereavedProfile?.slains" class="seniority">
        {{slain.deathDate | seniority}}
      </div>
    </div>
    <div class="bereaved-item-col">
    </div>
    <div class="bereaved-item-col">
    </div>
    <div class="bereaved-item-col">
    </div>
    <div class="bereaved-item-col">
    </div>
  </div>
</cdk-virtual-scroll-viewport>
