:host {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .list-header {

    .seniority-col {
      flex: 0 1 115px;
    }

    .guidance-col {
      flex: 0 1 130px;
    }

    .status-col {
      flex: 0 1 130px;
    }
  }

  .bereaved-items {
    height: 100%;
    direction: ltr;
  }
}
