<app-list-header [(sort)]="sortedColumn" (sortChange)="sort()" class="list-header">
  <app-list-column class="col-row-state">
  </app-list-column>
  <app-list-column [field]="'name'">
    שם מלא
  </app-list-column>
  <app-list-column>
    פרטי התקשרות
  </app-list-column>
  <app-list-column>
    מקום מגורים
  </app-list-column>
  <app-list-column [field]="'seniority'" class="col-seniority">
    ותק בשכול
  </app-list-column>
  <app-list-column [field]="'guidance'" class="col-guidance">
    הדרכות
  </app-list-column>
  <app-list-column [field]="'status'" class="col-status">
    סטטוס
  </app-list-column>
  <app-list-column [field]="'meetings'">
    שיבוץ
  </app-list-column>
</app-list-header>
<cdk-virtual-scroll-viewport itemSize="20" class="bereaved-items">
  <div *ngFor="let bereaved of sortedBereaveds; trackBy: trackByFn">
    <app-bereaveds-list-row [bereaved]="bereaved" (joinBereved)="joinBereved.emit($event)" (leaveBereaved)="leaveBereaved.emit($event)"></app-bereaveds-list-row>
  </div>
</cdk-virtual-scroll-viewport>
