<app-list-header
  [scroll]="sortedBereaveds.length > 10"
  [(sort)]="sortedColumn"
  (sortChange)="sort()"
  class="list-header"
>
  <app-list-column class="col-row-state"> </app-list-column>
  <app-list-column [field]="'name'">
    שם מלא
  </app-list-column>
  <app-list-column>
    פרטי התקשרות
  </app-list-column>
  <app-list-column>
    מקום מגורים
  </app-list-column>
  <app-list-column [field]="'seniority'" class="col-seniority">
    ותק בשכול
  </app-list-column>
  <app-list-column [field]="'guidance'" class="col-guidance">
    הדרכות
  </app-list-column>
  <app-list-column [field]="'status'" class="col-status">
    סטטוס
  </app-list-column>
  <app-list-column [field]="'meetings'">
    שיבוץ
  </app-list-column>
</app-list-header>
<cdk-virtual-scroll-viewport itemSize="10" class="bereaved-items">
  <div *ngFor="let bereaved of sortedBereaveds; trackBy: trackByFn">
    <app-bereaveds-list-row
      [bereaved]="bereaved"
      [user]="user"
      (joinBereved)="joinBereved.emit(bereaved)"
      (leaveBereaved)="leaveBereaved.emit({ user: bereaved, meeting: $event })"
      (volunteering)="
        volunteering.emit({ user: bereaved, isVolunteer: $event })
      "
      (bereavedStatus)="
        bereavedStatus.emit({ bereaved: bereaved, status: $event })
      "
      (bereavedGuidance)="
        bereavedGuidance.emit({ bereaved: bereaved, guidance: $event })
      "
    ></app-bereaveds-list-row>
  </div>
</cdk-virtual-scroll-viewport>
