:host {
  display: flex;
  align-items: center;

  .free-text-filter {
    flex: 1;

    @media only screen and (max-width: 600px) {
      margin-right: 5%;
    }
  }

  .view-toggle {
    margin-right: 20px;
  }
}
