$barHeight: 5px;

:host {
  position: relative;
  display: inline-block;
  width: 30px;
  height: $barHeight * 5;
  cursor: pointer;

  %bar {
    width: 30px;
    height: $barHeight;
    background-color: rgb(0, 160, 153);
    display: block;
  }

  %edge-bar {
    @extend %bar;
    content: "";
    position: absolute;
    transition-property: transform, margin-top;
    transition-duration: 0.2s;
    transition-delay: 0s, 0.2s;
  }

  .bar {
    @extend %bar;
    position: relative;
    top: $barHeight * 2;
    margin: 0 auto;

    &::before {
      @extend %edge-bar;
      margin-top: -($barHeight * 2);
    }

    &::after {
      @extend %edge-bar;
      margin-top: $barHeight * 2;
    }

    &.active {
      background-color: rgba(0, 0, 0, 0);

      &::before,
      &::after {
        margin-top: 0;
        transition-delay: 0.2s, 0s;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }
}
