<nav class="header">
  <div class="logo-header" routerLink="home"></div>
  <button class="close-drawer-menu">

  </button>
  <ul class="links-header">
    <li><a class="link-header" routerLink="home" routerLinkActive="current-page">דף הבית</a></li>
    <li>
      <app-drop-down-menu [menuAnchor]="meetingsMenuAnchor" [menuContent]="meetingsMenuItems"></app-drop-down-menu>
    </li>
    <li>
      <app-drop-down-menu [menuAnchor]="aboutMenuAnchor" [menuContent]="aboutMenuItems"></app-drop-down-menu>
    </li>
    <li><a class="link-header" routerLink="info" routerLinkActive="current-page">מבנה הערב</a></li>
    <li><a class="link-header" routerLink="questions" routerLinkActive="current-page">שאלות</a></li>
    <li><a class="link-header" routerLink="gallery" routerLinkActive="current-page">גלריה</a></li>
    <li><a class="link-header" routerLink="contact" routerLinkActive="current-page">צרו קשר</a></li>
  </ul>
  <div class="action-buttons">
    <div class="action-header-support-us site-button">תמיכה בעמותה</div>
    <div *ngIf="!user" class="action-header-login site-button" (click)="authService.requestToLogin()">
      התחבר/הרשם
    </div>
    <div *ngIf="user" class="action-header-login site-button" (click)="authService.signOut()">
      התנתק
    </div>
  </div>
</nav>

<ng-template #aboutMenuItems>
  <div class="drop-down-list">
    <a class="drop-down-menu-item" routerLink="about">רקע</a>
    <div class="drop-down-item-divider"></div>
    <a class="drop-down-menu-item" routerLink="team">הצוות שלנו</a>
    <div class="drop-down-item-divider"></div>
    <a class="drop-down-menu-item" routerLink="about">עלינו בתקשורת</a>
    <div class="drop-down-item-divider"></div>
    <a class="drop-down-menu-item" routerLink="about">כותבים עלינו</a>
  </div>
</ng-template>

<ng-template #aboutMenuAnchor>
  <a class="link-header" routerLinkActive="current-page">
    אודותינו <i class="fas fa-caret-down"></i>
  </a>
</ng-template>

<ng-template #meetingsMenuItems>
  <div class="drop-down-list">
    <a class="drop-down-menu-item" routerLink="meetings">מפת מפגשים</a>
    <div class="drop-down-item-divider"></div>
    <a class="drop-down-menu-item" routerLink="tell">אני רוצה לספר</a>
    <div class="drop-down-item-divider"></div>
    <a class="drop-down-menu-item" routerLink="host">אני רוצה לארח</a>
    <div class="drop-down-item-divider"></div>
    <a class="drop-down-menu-item" routerLink="participate">אני רוצה להשתתף</a>
  </div>
</ng-template>

<ng-template #meetingsMenuAnchor>
  <a class="link-header" routerLinkActive="current-page">
    מפגשים <i class="fas fa-caret-down"></i>
  </a>
</ng-template>