<div class="header-out">
  <div #headerElm class="header">
    <div class="logo-header" routerLink="home"></div>
    <div class="links-header">
      <a class="link-header" routerLink="home" routerLinkActive="current-page">דף הבית</a>
      <a class="link-header" routerLink="meetings" routerLinkActive="current-page">מפגשים</a>
      <app-drop-down-menu [menuAnchor]="aboutMenuAnchor" [menuContent]="aboutMenuItems"></app-drop-down-menu>
      <a class="link-header" routerLink="info" routerLinkActive="current-page">מבנה הערב</a>
      <a class="link-header" routerLink="questions" routerLinkActive="current-page">שאלות</a>
      <a class="link-header" routerLink="gallery" routerLinkActive="current-page">גלריה</a>
      <a class="link-header" routerLink="contact" routerLinkActive="current-page">צרו קשר</a>
    </div>
    <div class="action-buttons">
      <div class="action-header-support-us site-button">תמיכה בעמותה</div>
      <div *ngIf="!user" class="action-header-login site-button" (click)="logIn.emit()">
        התחבר/הרשם
      </div>
      <div *ngIf="user" class="action-header-login site-button" (click)="logOut.emit()">
        התנתק
      </div>
    </div>
  </div>
</div>

<ng-template #aboutMenuItems>
  <div class="drop-down-list">
    <a class="drop-down-menu-item" routerLink="about">רקע</a>
    <div class="drop-down-item-divider"></div>
    <a class="drop-down-menu-item" routerLink="about">הצוות שלנו</a>
    <div class="drop-down-item-divider"></div>
    <a class="drop-down-menu-item" routerLink="about">עלינו בתקשורת</a>
    <div class="drop-down-item-divider"></div>
    <a class="drop-down-menu-item" routerLink="about">כותבים עלינו</a>
  </div>
</ng-template>

<ng-template #aboutMenuAnchor>
  <a class="link-header" style="margin-left: 20px;" routerLinkActive="current-page">אודותינו</a>
</ng-template>