$mobileBreakpoint: 1200px;

.header-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  background-color: white;
  z-index: 2;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  padding: 1em 100px;

  .nav-toggle {
    display: none;
  }

  .header {
    flex: 1;
    display: flex;
    align-items: center;
    position: relative;

    .logo-header {
      cursor: pointer;
      flex: 0 0 auto;
      height: 55px;
      width: 135px;
      background-image: url(../../../assets/img/logo.png);
      background-size: contain;
      background-repeat: no-repeat;
    }

    .nav-content {
      flex: 1;
      display: flex;

      .links-header {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;

        & li:last-of-type .link-header {
          margin-left: 0;
        }

        .link-header {
          cursor: pointer;
          text-decoration: none;
          font-family: "Heebo";
          color: rgb(0, 115, 109);
          font-size: 19px;
          font-weight: 500;
          position: relative;
          margin-left: 20px;

          &.current-page {
            font-weight: bold;
          }

          @media only screen and (min-width: $mobileBreakpoint) {
            &.link-header:hover:before,
            &.current-page::before {
              content: "";
              background-color: rgb(0, 160, 153);
              position: absolute;
              top: 3px;
              width: 33px;
              height: 1px;
              animation-name: currentPageBefore;
              animation-duration: 1s;
              animation-iteration-count: 1;
            }

            @keyframes currentPageBefore {
              0% {
                transform: translateX(-100%);
              }
              100% {
                transform: translateX(0%);
              }
            }

            &.link-header:hover:after,
            &.current-page::after {
              content: "";
              background-color: rgb(0, 115, 109);
              position: absolute;
              width: 33px;
              height: 1px;
              bottom: 3px;
              left: 0;
              animation-name: currentPageAfter;
              animation-duration: 1s;
              animation-iteration-count: 1;
            }

            @keyframes currentPageAfter {
              0% {
                transform: translateX(100%);
              }
              100% {
                transform: translateX(0%);
              }
            }
          }
        }
      }

      .action-buttons {
        flex: 0 0 auto;
        display: flex;
        align-items: center;

        %header-button {
          border-radius: 4px;
          height: 35px;
          cursor: pointer;
        }
        .action-header-support-us {
          @extend %header-button;
          margin-left: 10px;
        }

        .action-header-login {
          @extend %header-button;
        }
      }
    }
  }
}

.drop-down-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: wrap;

  .drop-down-menu-item {
    background-color: white;
    color: #00a099;
    text-decoration: none;
    padding-right: 0.5em;

    &:hover {
      background-color: #00a099;
      color: white;
    }
  }

  .drop-down-item-divider {
    align-self: center;
    width: 90%;
    height: 1px;
    background-color: lightgray;
    opacity: 0.3;
  }
}

@media only screen and (max-width: $mobileBreakpoint) {
  .header-container {
    padding: 1em 25px;

    .nav-toggle {
      display: inline-block;
      position: absolute;
      z-index: 1;
    }

    .header {
      justify-content: center;

      .nav-content {
        $shadow-width: -10px;
        $shadow-spread: 2px;

        width: 300px;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 80px 50px;
        flex-direction: column;
        background-color: white;
        box-shadow: $shadow-width 0px $shadow-spread 0px rgba(0, 160, 153, 0.75);
        transition: transform 0.2s;
        transform: translateX(calc(100% - #{$shadow-width} + #{$shadow-spread}));

        &.open {
          transform: translateX(0);
        }

        .links-header {
          flex: 0 0 auto;
          flex-direction: column;
          align-items: stretch;
          margin: 1.5em 0;

          li {
            border-bottom: 1px solid rgba(0, 160, 153);
            padding: 0.5em 0;

            .link-header {
              margin: 0;
            }
          }
        }

        .action-buttons {
          flex-direction: column;

          .action-header-support-us,
          .action-header-login {
            margin: 0.5em auto;
            width: 75%;
          }
        }
      }
    }
  }
}
