<div class="header-out">
  <div #headerElm class="header">
    <div class="logo-header" routerLink="home"></div>
    <div class="links-header">
      <a class="link-header" routerLink="home" routerLinkActive="current-page">דף הבית</a>
      <a class="link-header" routerLink="meetings" routerLinkActive="current-page">מפגשים</a>
      <a class="link-header" routerLink="about" routerLinkActive="current-page">אודותינו</a>
      <a class="link-header" routerLink="info" routerLinkActive="current-page">מבנה הערב</a>
      <a class="link-header" routerLink="questions" routerLinkActive="current-page">שאלות</a>
      <a class="link-header" routerLink="gallery" routerLinkActive="current-page">גלריה</a>
      <a class="link-header" routerLink="contact" routerLinkActive="current-page">צרו קשר</a>
    </div>
    <div class="action-buttons">
      <div class="action-header-support-us site-button">תמיכה בעמותה</div>
      <div *ngIf="!user" class="action-header-login site-button" (click)="logIn.emit()">
        התחבר/הרשם
      </div>
      <div *ngIf="user" class="action-header-login site-button" (click)="logOut.emit()">
        התנתק
      </div>
    </div>
  </div>
</div>