.host-image-header {
  width: 100%;
  height: 430px;
  border-bottom: solid rgb(0, 160, 153) 6px;
}

.host-page-container {
  padding-top: 50px;

  .step0 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .step0-button {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
