.host-image-header {
  width: 100%;
  height: 430px;
  border-bottom: solid rgb(0, 160, 153) 6px;
}

.host-page-container {
  background-color: rgb(248, 248, 248);
  padding-top: 50px;

  .steps-container {
    min-height: 700px;

    .step {
      padding-top: 100px;
      background-color: rgb(248, 248, 248);

      .step-button {
        margin-bottom: 40px;
        margin-top: 40px;
      }
    }
  }
}
