<img class="image-header" src="../../../assets/img/meetingsHeader.jpg" alt="Meetings Page Header Image" />
<div class="site-divider"></div>
<h1 class="small-heading">האחים שלנו !</h1>
<h2 class="medium-heading">איך נראים המפגשים שלנו?</h2>
<section class="site-text">
  <p>
    לפניך רשימת המקומות בהם יתקיימו מפגשי "האחים שלנו". ניתן ללחוץ על האייקון ולעבור למצב מפה או למצה רשימה. רוב המפגשים
    יתקיימו ביום ראשון ה-26.4 בשעה 20:00.
  </p>
  <p>
    אנחנו מזמינים אתכם למצוא את המפגש הקרוב ביותר לביתכם וללחוץ על כפתור "שיבוץ". ניתן להשתבץ למעלה ממפגש אחד.
  </p>
</section>
<section class="participations-buttons">
  <app-participations-buttons [user]="user" [loading]="loadingUser"></app-participations-buttons>
</section>

<section class="container meetings-container">
  <app-meetings
    [user]="user"
    [meetings]="meetings"
    [mapShowGuide]="mapShowGuide"
    (joinMeeting)="onJoinMeeting($event)"
    (guideCompleted)="onMapGuideCompleted()"
  >
  </app-meetings>
</section>
