<div class="form-title">
  פרטי משתמש
</div>
<div class="form" [formGroup]="form">
  <div class="form-items-container">
    <input type="text" placeholder="שם פרטי" class="form-field" formControlName="firstName"
      [class.invalid]="!firstName.valid && firstName.touched" />
    <input type="text" placeholder="שם משפחה" class="form-field" formControlName="lastName"
      [class.invalid]="!lastName.valid && lastName.touched" />
  </div>
  <div class="form-items-container">
    <input type="email" placeholder="אימייל" class="form-field" formControlName="email"
      [class.invalid]="!email.valid && email.touched" />
    <input type="tel" placeholder="פלאפון" class="form-field" pattern="[0-9]{10}" formControlName="phoneNumber"
      [class.invalid]="!phoneNumber.valid && phoneNumber.touched" />
  </div>
  <div class="form-items-container">
    <app-places-select class="form-field" [types]="['(cities)']" [placeholder]="'כתובת'" (change)="address.setValue($event)"
      [invalid]="!address.valid && address.touched"></app-places-select>
    <input type="text" placeholder="תאריך לידה" class="form-field" formControlName="birthDay"
      [class.invalid]="!birthDay.valid && birthDay.touched" onfocus="(this.type='date')" onblur="(this.type='text')" />
  </div>
  <div class="other-lang-input">
    <span>
      אני מספר גם בשפות אחרות:
    </span>
    <select class="other-lang-select" [value]="otherLang.value" (change)="otherLang.setValue($event.target.value)">
      <option value="english">אנגלית</option>
      <option value="franch">צרפתית</option>
      <option value="rusian">רוסית</option>
      <option value="arabic">ערבית</option>
      <option value="other">אחר</option>
    </select>
  </div>
  <div class="agree-input">
    <app-checkbox [label]="'אני מסכים לתנאי השימוש'" [checked]="agree.value" [invalid]="!agree.valid && agree.touched"
      (checkedChanged)="agree.setValue($event)"></app-checkbox>
  </div>
  <div (click)="onSubmit()" class="site-button primary-button submit-button">
    המשך
  </div>
</div>
