<div class="medium-heading">
  פרטי משתמש
</div>
<div class="form" [formGroup]="form">
  <div class="form-row">
    <div class="col">
      <input
        type="text"
        placeholder="שם פרטי"
        class="form-field"
        formControlName="firstName"
        [class.invalid]="!firstName.valid && firstName.touched"
      />
    </div>
    <div class="col">
      <input
        type="text"
        placeholder="שם משפחה"
        class="form-field"
        formControlName="lastName"
        [class.invalid]="!lastName.valid && lastName.touched"
      />
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <input
        type="email"
        placeholder="אימייל"
        class="form-field"
        formControlName="email"
        [class.invalid]="!email.valid && email.touched"
      />
    </div>
    <div class="col">
      <input
        type="tel"
        placeholder="טלפון נייד"
        class="form-field"
        formControlName="phoneNumber"
        [class.invalid]="!phoneNumber.valid && phoneNumber.touched"
      />
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <app-places-select
        [types]="['(cities)']"
        [placeholder]="'מקום מגורים'"
        (change)="address.setValue($event)"
        [invalid]="!address.valid && address.touched"
      ></app-places-select>
    </div>
    <div class="col">
      <input
        type="text"
        placeholder="תאריך לידה"
        class="form-field"
        formControlName="birthDay"
        [class.invalid]="!birthDay.valid && birthDay.touched"
        [max]="maxDate"
        onfocus="(this.type='date')"
        onblur="(this.type='text')"
      />
    </div>
  </div>
  <div class="other-lang-input">
    <span>
      אני מספר גם בשפות אחרות:
    </span>
    <select
      class="other-lang-select"
      [value]="otherLang.value"
      (change)="otherLang.setValue($event.target.value)"
    >
      <option value="english">אנגלית</option>
      <option value="spanish">ספרדית</option>
      <option value="franch">צרפתית</option>
      <option value="arabic">ערבית</option>
      <option value="rusian">רוסית</option>
      <option value="other">אחר</option>
    </select>
  </div>
  <div class="agree-input">
    <app-checkbox
      [label]="'אני מסכים'"
      [checked]="agree.value"
      [invalid]="!agree.valid && agree.touched"
      (checkedChanged)="agree.setValue($event)"
    ></app-checkbox>
    <a
      class="site-link decoration"
      href="/assets/docs/תנאי%20שימוש%20האחים%20שלנו.pdf"
      target="_blank"
      >לתנאי השימוש</a
    >
  </div>
  <p class="form-invalid-message" *ngIf="formInvalid">
    אחד או יותר מהשדות אינם תקינים
  </p>
  <button (click)="onSubmit()" class="site-button primary-button submit-button">
    המשך
  </button>
</div>
