<div class="account-page">
    <div class="site-text">
        <div *ngIf="loading; else loaded">
            טוען..
        </div>
        <ng-template #loaded>
            <div *ngIf="!user; else profile">
                <button class="site-button login-button" (click)="signInWithFacebook()">
                    התחבר עם פייסבוק
                </button>
                <button class="site-button login-button" (click)="signInWithGoogle()">
                    התחבר עם גוגל
                </button>
            </div>
            <ng-template #profile>
                <div>
                    <strong>מזהה: </strong>
                    <span>{{user.id}}</span>
                </div>
                <div *ngIf="user.profile">
                    <div>
                        <strong>שם פרטי: </strong>
                        <span>{{user.profile.firstName}}</span>
                    </div>
                    <div>
                        <strong>שם משפחה: </strong>
                        <span>{{user.profile.lastName}}</span>
                    </div>
                    <div>
                        <strong>אימייל: </strong>
                        <span>{{user.profile.email}}</span>
                    </div>
                </div>
                <div>
                    <button class="site-button login-button" (click)="signOut()">
                        התנתק
                    </button>
                </div>
            </ng-template>
        </ng-template>
    </div>
</div>