.account-page {
    min-height: 400px;

    .login-button {
        border-radius: 4px;
        background-color: rgb(0, 160, 153);
        width: 144px;
        height: 35px;
        font-size: 18px;
    }
}
