@import "~@fortawesome/fontawesome-free/css/all.css";

@font-face {
  font-family: "arbel";
  src: url(assets/fonts/Arbel-Bold_0.otf);
}

/* heebo-regular */
@font-face {
  font-family: "Heebo";
  src: url("assets/fonts/Heebo-Regular.ttf");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}

html {
  height: 100%;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Heebo";
  font-size: 18px;
  position: relative;
  min-height: 100%;
  padding-top: 90px;
  padding-bottom: 230px;
  background-color: #fff;
  --primary-color: rgba(0, 160, 153);
}

.hidden {
  visibility: hidden;
}

.card-container {
  font-family: "arbel";
}

.site-button {
  font-family: "arbel";
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  background-color: rgb(0, 160, 153);
  padding: 0 20px;
  border: none;

  &.primary-button {
    width: 250px;
    height: 55px;
    font-size: 36px;
    margin: auto;
    display: flex;
  }

  &.disabled,
  &:disabled {
    background-color: rgb(146, 177, 175);
    cursor: auto;
  }
}

.site-hr {
  background-color: rgb(219, 219, 219);
  height: 1px;
  width: calc(100% - 20%);
  max-width: 570px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
}

.site-divider {
  width: 65px;
  margin: auto;
  padding: 10px 0;

  @media only screen and (min-width: 768px) {
    padding: 20px 0;
  }

  @media only screen and (min-width: 1024px) {
    padding: 40px 0;
  }

  &::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #3787b1;
  }
}

.small-heading {
  font-size: 22px;
  color: rgb(153, 153, 153);
  text-align: center;
  font-family: "arbel";
  margin-bottom: 25px;
  letter-spacing: 15px;

  @media only screen and (max-width: 768px) {
    font-size: 16px;
    margin-bottom: 10px;
    letter-spacing: 9px;
  }
}

.medium-heading {
  color: rgb(55, 135, 177);
  font-size: 36px;
  text-align: center;
  font-family: "arbel";
  letter-spacing: 5px;
  margin-bottom: 50px;

  @media only screen and (max-width: 768px) {
    font-size: 32px;
    margin-bottom: 20px;
  }
}

.big-heading {
  font-size: 71px;
  font-family: "arbel";
  color: rgb(0, 115, 109);
  text-align: center;
  margin-bottom: 40px;
}

.site-text {
  text-align: center;
  color: rgb(129, 129, 129);
  max-width: 570px;
  width: calc(100% - 20%);
  margin: auto;
  line-height: 30px;
}

.site-quote {
  background-color: rgb(0, 160, 153);
  padding: 110px 0 65px 0;
  text-align: center;
  font-size: 39px;
  font-family: "arbel";
  color: rgb(255, 255, 255);
  line-height: 1.1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .site-quote-text {
    max-width: 1000px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }

  &::before {
    position: absolute;
    content: "";
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 44px;
    height: 32px;
    background-image: url(assets/img/quote.png);
  }
}

.site-close-icon {
  display: block;
  color: var(--primary-color);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' enable-background='new 0 0 40 40'%3E%3Cline x1='0' y1='0' x2='10' y2='10' stroke='rgba(0,160,153)' stroke-width='1' stroke-linecap='round' stroke-miterlimit='10'%3E%3C/line%3E%3Cline x1='0' y1='10' x2='10' y2='0' stroke='rgba(0,160,153)' stroke-width='1' stroke-linecap='round' stroke-miterlimit='10'%3E%3C/line%3E%3C/svg%3E");
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  outline: none;
}

.site-bars-icon {
  color: var(--primary-color);
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 20px;
}

.form-field {
  border: 1px solid rgb(229, 229, 229);
  background-color: rgb(255, 255, 255);
  width: 100%;
  max-width: 375px;
  height: 56px;
  padding: 15px;
  font-size: 18px;
  font-family: "Heebo";
  color: black;

  &[type='date'] {
    padding: 0;
  }

  &.invalid {
    border: 1px solid red;
  }
}

textarea.form-field {
  max-width: 774px;
  height: 233px;
  resize: none;
}

.user-type-title {
  text-align: right;
}

.cancel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(160, 0, 0);
  width: 125px;
  max-width: 125px;
  height: 40px;
  font-size: 20px;
  font-family: "arbel";
  color: rgb(190, 0, 0);
  background-color: white;
  cursor: pointer;

  &:disabled {
    color: grey;
    border-color: grey;
    cursor: auto;
  }

  @media only screen and (max-width: 600px) {
    width: 100px;
    height: 30px;
    margin-left: 12px;
    margin-bottom: 8px;
  }
}

.blocker {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);

  &.blocker-fixed {
    z-index: 2;
    position: fixed;
  }
}

.container {
  max-width: calc(100% - 200px);
  width: 1170px;
  margin-left: auto;
  margin-right: auto;

  @media only screen and (max-width: 1000px) {
    max-width: calc(100% - 50px);
  }

  @media only screen and (max-width: 650px) {
    max-width: 100%;
  }
}

.container-fluid {
  max-width: calc(85%);
  margin-left: auto;
  margin-right: auto;

  @media only screen and (max-width: 1600px) {
    max-width: calc(95%);
  }

  @media only screen and (max-width: 1000px) {
    max-width: calc(100%);
  }
}

.contact-form {
  padding: 85px 0;
  background-color: rgb(248, 248, 248);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 768px) {
    padding: 35px 0;
  }
}

.site-link {
  text-decoration: none;
  color: #818181;
}
