@import "~@fortawesome/fontawesome-free/css/all.css";

@font-face {
  font-family: "arbel";
  src: url(assets/fonts/Arbel-Bold_0.otf);
}

/* heebo-regular */
@font-face {
  font-family: "Heebo";
  src: url("assets/fonts/Heebo-Regular.ttf");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}

body {
  font-family: "Heebo";
  font-size: 18px;
}

.hidden {
  visibility: hidden;
}

.card-container {
  font-family: "arbel";
}

.site-button {
  font-family: "arbel";
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  background-color: rgb(0, 160, 153);
  padding: 0 20px;

  &.disabled {
    background-color: rgb(146, 177, 175);
    cursor: auto;
  }
}

.site-hr {
  background-color: rgb(219, 219, 219);
  height: 1px;
  width: calc(100% - 20%);
  max-width: 570px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
}

.site-divider {
  background-color: rgb(55, 135, 177);
  width: 65px;
  height: 2px;
  margin: auto;
  margin-bottom: 40px;
}

.small-heading {
  font-size: 22px;
  color: rgb(153, 153, 153);
  text-align: center;
  font-family: "arbel";
  margin-bottom: 25px;
  letter-spacing: 15px;

  @media only screen and (max-width: 768px) {
    font-size: 16px;
    margin-bottom: 10px;
    letter-spacing: 9px;
  }
}

.medium-heading {
  color: rgb(55, 135, 177);
  font-size: 36px;
  text-align: center;
  font-family: "arbel";
  letter-spacing: 5px;
  margin-bottom: 50px;

  @media only screen and (max-width: 768px) {
    font-size: 32px;
    margin-bottom: 20px;
  }
}

.big-heading {
  font-size: 71px;
  font-family: "arbel";
  color: rgb(0, 115, 109);
  text-align: center;
  margin-bottom: 40px;
}

.site-text {
  text-align: center;
  color: rgb(129, 129, 129);
  max-width: 570px;
  width: calc(100% - 20%);
  margin: auto;
  line-height: 30px;
}

.site-quote {
  background-color: rgb(0, 160, 153);
  padding: 110px 0 65px 0;
  text-align: center;
  font-size: 39px;
  font-family: "arbel";
  color: rgb(255, 255, 255);
  line-height: 1.1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .site-quote-text {
    max-width: 1000px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }

  &::before {
    position: absolute;
    content: "";
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 44px;
    height: 32px;
    background-image: url(assets/img/quote.png);
  }
}

.site-close-icon {
  display: block;
  color: rgba(0,160,153);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' enable-background='new 0 0 40 40'%3E%3Cline x1='0' y1='0' x2='10' y2='10' stroke='rgba(0,160,153)' stroke-width='1' stroke-linecap='round' stroke-miterlimit='10'%3E%3C/line%3E%3Cline x1='0' y1='10' x2='10' y2='0' stroke='rgba(0,160,153)' stroke-width='1' stroke-linecap='round' stroke-miterlimit='10'%3E%3C/line%3E%3C/svg%3E");
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  outline: none;
}

input.form-field,
textarea.form-field {
  border: 1px solid rgb(229, 229, 229);
  background-color: rgb(255, 255, 255);
  width: 100%;
  max-width: 375px;
  height: 56px;
  padding: 15px;
  font-size: 18px;
  font-family: "Heebo";
  color: black;
}

.form-field.invalid,
.login-form-input.invalid {
  border: 1px solid red;
}

textarea.form-field {
  width: 100%;
  max-width: 774px;
  height: 233px;
  resize: none;
}

.form-title {
  font-size: 36px;
  font-family: "arbel";
  color: rgb(55, 135, 177);
  letter-spacing: 6px;
  margin-bottom: 20px;
}

input.login-form-input {
  font-family: "Heebo";
  padding: 10px;
  height: 50px;
  max-width: 490px;
  width: 100%;
  border-radius: 5px;
  background-color: rgb(245, 245, 245);
  font-size: 16px;
  color: rgb(17, 17, 17);
  border: none;
  margin-bottom: 10px;

  &:focus {
    background-color: white;
    outline: 1px solid rgb(0, 160, 153);
  }
}

.user-type-title {
  text-align: right;
}

.login-with-buttons {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 40px;

  .login-with-button {
    cursor: pointer;
    border-radius: 5px;
    flex: 0 0 230px;
    display: flex;
    align-items: stretch;

    .login-with-button-icon {
      flex: 0 0 55px;
      position: relative;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .login-with-button-divider {
      flex: 0 0 1px;
      background-color: rgba(0, 0, 0, 0.2);
    }

    .login-with-button-text {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 18px;
      font-family: "Heebo";
    }

    &.google {
      background-color: rgb(222, 75, 57);
    }

    &.facebook {
      background-color: rgb(58, 90, 152);
    }
  }
}

.popup-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.popup-element {
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;

  .popup-container {
    position: relative;
    top: 140px;
    margin: auto;
    width: calc(100% - 20%);
    max-width: 570px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .top-strip {
      flex: 0 0 5px;
      background-color: rgb(0, 160, 153);
    }

    .tabs {
      flex: 0 0 70px;
      display: flex;
      align-items: stretch;

      .tabs-items {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: stretch;

        .tab-item {
          cursor: pointer;
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid rgb(0, 160, 153);
          background-color: white;
          font-size: 36px;
          font-family: "arbel";
          color: rgb(0, 160, 153);
          letter-spacing: 6px;

          &.current {
            color: white;
            background-color: rgb(0, 160, 153);
          }
        }
      }
    }

    .popup-content-container {
      flex: 1;
      position: relative;
      height: calc(100% - 95px);
      background-color: white;
      left: 0;
      padding: 35px 40px 45px 40px;
    }

    .popup-main-button {
      cursor: pointer;
      flex: 0 0 90px;
      background-color: rgb(0, 160, 153);
      font-size: 36px;
      font-family: "arbel";
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      letter-spacing: 6px;
    }
  }
}

.cancel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(160, 0, 0);
  width: 125px;
  max-width: 125px;
  height: 40px;
  font-size: 20px;
  font-family: "arbel";
  color: rgb(190, 0, 0);
  background-color: white;
  cursor: pointer;

  &:disabled {
    color: grey;
    border-color: grey;
    cursor: auto;
  }

  @media only screen and (max-width: 600px) {
    width: 100px;
    height: 30px;
    margin-left: 12px;
    margin-bottom: 8px;
  }
}

.blocker {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);

  &.blocker-fixed {
    position: fixed;
  }
}

.primary-button {
  width: 250px;
  height: 55px;
  font-size: 36px;
  font-family: "Arbel";
  margin: auto;
  margin-top: 15px;
  display: flex;
}

.container {
  max-width: calc(100% - 200px);
  width: 1170px;
  margin-left: auto;
  margin-right: auto;

  @media only screen and (max-width: 1000px) {
    max-width: calc(100% - 50px);
  }

  @media only screen and (max-width: 650px) {
    max-width: 100%;
  }
}

.container-fluid {
  max-width: calc(85%);
  margin-left: auto;
  margin-right: auto;

  @media only screen and (max-width: 1600px) {
    max-width: calc(95%);
  }

  @media only screen and (max-width: 1000px) {
    max-width: calc(100%);
  }
}

.contact-form {
  padding: 85px 0;
  background-color: rgb(248, 248, 248);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 768px) {
    padding: 35px 0;
  }
}

.site-link {
  text-decoration: none;
  color: #818181;
}
