<div class="container">
  <app-meetings-filters [(view)]="view" [(filter)]="filter" (filterChange)="filterMeetings()">
  </app-meetings-filters>
</div>

<div class="container meetings-container">
  <div *ngIf="!meetings" class="loading">
    טוען..
  </div>
  <ng-template [ngIf]="view === 'map'" [ngIfElse]="meetingsList">
    <app-meetings-map [user]="user" [meetings]="filteredMeetings" [showGuide]="mapShowGuide"
      (joinMeeting)="joinMeeting.emit($event)" (guideCompleted)="guideCompleted.emit()">
    </app-meetings-map>
  </ng-template>

  <ng-template #meetingsList>
    <app-meetings-list [user]="user" [meetings]="filteredMeetings" (joinMeeting)="joinMeeting.emit($event)">
    </app-meetings-list>
  </ng-template>
</div>
