<div class="connect-to-care-popup-container">
  <button class="close-button" (click)="close.emit()">
    <i class="fas fa-times"></i>
  </button>
  <div class="body">
    <div class="mobile-header">
      <ng-container *ngTemplateOutlet="header"></ng-container>
    </div>
    <div class="promotion">
      <div class="promotion-content">
        <div class="first">
          גם השנה.
        </div>
        <div class="second">
          במיוחד השנה.
        </div>
        <div class="third">
          <div class="third-text">
            <div>
              מתחברים
            </div>
            <div>
              וזוכרים
            </div>
          </div>
          <img class="icon" src="../../assets/img/candle.svg" />
        </div>
      </div>
    </div>
    <div class="content">
      <div class="desktop-header">
        <ng-container *ngTemplateOutlet="header"></ng-container>
      </div>
      <div class="text">
        <div class="heading">
          <div>השנה כולנו מתחברים וזוכרים</div>
          <div>בואו לקחת חלק באחד מאלפי מפגשי הזיכרון הווירטואלים שלנו.</div>
        </div>
        <div>
          <div>יום הזיכרון השנה יהיה שונה מכל מה שהכרנו.</div>
          <div>
            לראשונה זה לא נוכל להתאגד בכיכרות, לעמוד כתף אל כתף בצפירה, לגשת לבתי העלמין ולהתכנס במפגש חברים בסלון
            ולהיזכר באלו היקרים לנו שאיבדנו.
          </div>
          <div>
            יחד עם זאת, ודווקא עכשיו, את המנגינה הזו אין לנו כל כוונה להפסיק. הקמנו את
            <a href="https://connect2care.ourbrothers.co.il">'מתחברים וזוכרים'</a>, במטרה לחבר בין המשפחות השכולות, לבין
            מעגלי החברים והציבור הכללי. זאת, באופן מותאם ליום הזיכרון נוכח המציאות הנוכחית המאתגרת.
          </div>
          <br />
          <div>
            במהלך הערב וביום עצמו, יתקיימו אלפי מפגשי 'מתחברים וזוכרים' בכל רחבי הארץ והעולם במטרה לזכור ולא לשכוח את
            הגיבורים שלנו, ולחבק את המשפחות השכולות גם השנה. במיוחד השנה.
          </div>
        </div>
        <a class="site-button registration-button" href="https://connect2care.ourbrothers.co.il">
          להרשמה >>
        </a>
      </div>
    </div>
  </div>
</div>

<ng-template #header>
  <div class="header">
    <img class="our-brothers-icon" src="../../assets/img/logo.png" alt="" />
    <img class="connect-2-care-icon" src="../../assets/img/connect-2-care-logo.svg" alt="" />
  </div>
</ng-template>
