<section class="intro">
  <div class="site-divider"></div>
  <div class="small-heading">מפגשים</div>
  <div class="medium-heading">אני רוצה לספר</div>
  <div class="site-text">
    <p>
      אחים יקרים, אנו שמחים שאתם מעוניינים לקחת חלק במפגשי 'האחים שלנו'.
    </p>
    <p>
      שמח לסייע לך בכל דרך שנוכל על מנת שתוכל לקיים מפגש עוצמתי, מרגש וייחודי. בלחיצה על כפתור 'המשך', יתחיל תהליך
      ההרשמה, בו יש צורך במילוי פרטים אישיים, מילוי פרטי חלל ולבסוף- שיבוצך באחד הבתים המארחים שנפתחו. חלק מהמפגשים יהיו
      בסביבה אינטימית וחלקם, באווירה גדולה יותר.
    </p>
    <p>
      לקראת המפגשים אנו נקיים מפגשי הדרכה במטרה להכין אותך ולסייע לך לקראת המפגשים. המפגשים יכללו תכנים פרקטיים והקניית
      כלים שיסייעו לך מבנית ורגשית לקראת המפגש, בין אם לקחת חלק במפגשי 'האחים שלנו' בעבר ובין אם לא.
    </p>
    <p>
      רוב המפגשים מתקיימים ביום ראשון, ה-26.4 בשעה 20:00, אך ישנה אפשרות להשתבץ ליותר מבית מארח אחד בין התאריכים 22-28
      באפריל. אנחנו פה בשבילכם.
    </p>
  </div>
  <button (click)="submit.emit()" class="site-button primary-button intro-button">
    המשך
  </button>
</section>
