<section class="meeting-info-section">
  <div class="site-divider"></div>
  <div class="heading">
    <span>
      מפגש:
    </span>
    <span *ngIf="!loadingMeeting">
      <span *ngIf="meeting">
        {{ meeting?.title }}
      </span>
      <span *ngIf="!meeting">
        {{ 'נמחק או לא קיים' }}
      </span>
    </span>
  </div>
  <div *ngIf="loadingMeeting || meeting" class="meeting-details">
    <div class="row">
      <div class="col">
        <app-host-meeting-input-text
          class="input"
          iconUrl="assets/img/host_location.svg"
          label="כתובת:"
          [text]="meeting?.address?.formattedAddress"
        ></app-host-meeting-input-text>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-host-meeting-input-text
          class="input"
          iconUrl="assets/img/host_users.svg"
          label="מספר מוזמנים:"
          [text]="meeting?.capacity"
        ></app-host-meeting-input-text>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-host-meeting-input-text
          class="input"
          iconUrl="assets/img/host_users.svg"
          label="קהל יעד:"
          [text]="meeting ? utilsService.meetingAudienceLabels[meeting.audience] : ''"
        ></app-host-meeting-input-text>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-host-meeting-input-text
          class="input"
          iconUrl="assets/img/host_users.svg"
          [text]="meeting?.invited ? 'סגור למוזמנים בלבד' : 'פתוח לקהל הרחב'"
        ></app-host-meeting-input-text>
      </div>
    </div>
    <div *ngIf="user && (user.id === meeting?.hostId || meeting?.bereaved?.id === user.id)">
      <div class="heading host-heading">
        פרטי מארח/ת
      </div>
      <div class="row">
        <div class="col">
          <app-host-meeting-input-text
            class="input"
            iconUrl="assets/img/host_user.svg"
            info="שם המארח/ת"
            [text]="meeting?.contact ? meeting?.contact.firstName + ' ' + meeting?.contact.lastName : ''"
          ></app-host-meeting-input-text>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <app-host-meeting-input-text
            class="input"
            iconUrl="assets/img/host_phone.svg"
            [text]="meeting?.contact?.phoneNumber | phone"
          ></app-host-meeting-input-text>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <app-host-meeting-input-text
            class="input"
            iconUrl="assets/img/host_email.svg"
            [text]="meeting?.contact?.email"
          ></app-host-meeting-input-text>
        </div>
      </div>
    </div>
    <!-- <div class="col">
      <div class="edit-button">
        <div class="edit-button-text">
          עריכת פרטים
        </div>
      </div>
      <div class="delete-button">
        <div class="delete-button-text">
          מחק מפגש
        </div>
      </div>
    </div> -->
    <!-- <div class="col">
      <div class="share-container">
        <div class="share-text">
          שיתוף באמצעות :
        </div>
        <div class="facebook-icon"></div>
        <div class="whatsapp-icon"></div>
      </div>
    </div> -->
    <div *ngIf="meeting?.bereaved">
      <div class="heading brother-heading">
        אח/ות שכול/ה
      </div>
      <div class="row">
        <div class="col">
          <app-host-meeting-input-text
            class="input"
            iconUrl="assets/img/host_user.svg"
            info="שם האח"
            [text]="meeting?.bereaved ? meeting.bereaved.firstName + ' ' + meeting.bereaved.lastName : ''"
          ></app-host-meeting-input-text>
        </div>
        <div class="col">
          <app-host-meeting-input-text
            class="input"
            iconUrl="assets/img/host_user.svg"
            info="שם החלל"
            [text]="
              meeting?.bereaved?.slains
                ? meeting.bereaved.slains[0].firstName + ' ' + meeting.bereaved.slains[0].lastName
                : ''
            "
          ></app-host-meeting-input-text>
        </div>
      </div>
      <div class="row" *ngIf="meeting?.bereaved && user?.id === meeting.hostId">
        <div class="col">
          <app-host-meeting-input-text
            class="input"
            iconUrl="assets/img/host_phone.svg"
            [text]="meeting?.bereaved?.phoneNumber | phone"
          ></app-host-meeting-input-text>
        </div>
        <div class="col">
          <app-host-meeting-input-text
            class="input"
            iconUrl="assets/img/host_email.svg"
            [text]="meeting?.bereaved?.email"
          ></app-host-meeting-input-text>
        </div>
      </div>
    </div>
    <div *ngIf="user && !meeting?.invited && meetingParticipates?.length">
      <div class="heading participates-heading">משתתפים ({{ meeting.count + '/' + meeting.capacity }})</div>
      <app-meeting-participates-list
        [user]="user"
        [meeting]="meeting"
        [meetingParticipates]="meetingParticipates"
      ></app-meeting-participates-list>
    </div>
  </div>
</section>
