<div class="card" (mouseenter)="hover = true" (mouseleave)="hover = false">
  <div class="header">
    <div class="image front-image" [style.background-image]="'url(' + member.frontImage + ')'">
    </div>
    <div class="image back-image" [class.hover]="hover" [style.background-image]="'url(' + member.backImage + ')'">
    </div>
  </div>
  <div [class]="'body'">
    <div [class]="'member-details ' + ('slains-' + slains)" [class.hover]="hover">
      <div class="member-name">{{member.name}}</div>
      <div class="member-title">{{member.title}}</div>
    </div>
    <div class="slains" [class.hover]="hover">
      <div class="slain" *ngFor="let slain of member.slains">
        <span class="slain-pre">{{slain.pre}}</span>
        <a class="slain-link" [href]="slain.link" target="_blank">{{slain.title}}</a>
      </div>
    </div>
  </div>
