<section class="intro">
  <div class="site-divider"></div>
  <div class="small-heading">מפגשים</div>
  <div class="medium-heading">איך נראים המפגשים שלנו?</div>
  <div class="site-text">
    אנו שמחים שאתה מעוניין לקחת חלק ולשתף את הציבור בסיפור ובחוויה האישית
    שלך. אתה תגיע לבית המארח שלא מכיר את סיפורך עם סביבת אנשים הקרובים
    אליו, סביבה מחבקת שרוצה לשמוע את סיפורך. המפגשים יהיו בסביבה אינטימית
    וניתן יהיה להשתמש בעזרים שונים על מנת להעביר את הסיפור והמסר. לאחר
    שתירשם לאתר, תוכל לעיין בבתים הרשומים לאירוח ולבחור מהו הבית המתאים לך
    מבחינת מיקום/קהל יעד ולהשתבץ אליו.
    <br /><br />
    המפגשים יתקיימו בין התאריכים 22.4-28.4
    <br />
    כשערב השיא בו רוב המפגשים יתקיימו יהיה ב- 26.4.2020
    <br />
    את/ה מוזמנים לקחת חלק ולספר את סיפורכם האישי ביותר מבית מארח אחד.
    לקראת המפגשים אנו נקיים מפגשי הכנה והדרכה בהם תוכל ללמוד כיצד לבנות את
    סיפורכם ולספרו, המפגשים יתקיימו בתל אביב, כרמיאל, ירושלים ונתניה.
  </div>
  <div (click)="submit.emit()" class="site-button primary-button intro-button">
    המשך
  </div>
</section>
