<section class="intro">
  <div class="site-divider"></div>
  <div class="small-heading">מפגשים</div>
  <div class="medium-heading">אני רוצה לארח</div>
  <div class="site-text">
    <p>
      מארחים יקרים, אנו שמחים שאתם מעוניינים לקחת חלק במפגשי 'האחים שלנו', לפתוח את הלב ואת הבית ולהוות חלק משמעותי
      במעגל הזיכרון וההנצחה.
    </p>
    <p>
      ניתן לפתוח את המפגש לקהל הרחב, בתיאום מולך, או לסגור אותו למוזמנים בלבד. לתשומת ליבך, בדרך כלל, כמות הנרשמים
      לאירוח גדולה מכמות האחים הנרשמים, מכיון שלרוב קל יותר לפתוח את הבית מאשר להוביל ולשתף בסיפור אישי. אנחנו פה
      בשבילכם.
    </p>
  </div>
  <button (click)="nextStep.emit()" class="site-button primary-button intro-button">
    המשך
  </button>
</section>
