<img class="image-header" src="../../../assets/img/agenda-header.jpg" />
<div class="site-divider"></div>
<h1 class="small-heading" data-aos="fade-up" data-aos-duration="1000">מבנה הערב</h1>
<h2 class="medium-heading" data-aos="fade-up" data-aos-duration="1000">הכלים לקיים ערב בלתי נשכח</h2>
<section class="kits-container">
    <ng-container
        *ngTemplateOutlet="kit; context:{icon: '../../../assets/img/document.svg', heading: 'תעודת הוקרה', description: 'TODO'}">
    </ng-container>
    <ng-container
        *ngTemplateOutlet="kit; context:{icon: '../../../assets/img/open-letter.svg', heading: 'הזמנה', description: 'TODO'}">
    </ng-container>
    <ng-container
        *ngTemplateOutlet="kit; context:{icon: '../../../assets/img/house.svg', heading: 'ערכת אירוח', description: 'TODO'}">
    </ng-container>
    <ng-container
        *ngTemplateOutlet="kit; context:{icon: '../../../assets/img/heart.svg', heading: 'ערכת אח', description: 'TODO'}">
    </ng-container>
</section>
<section class="videos-container">
    <div class="site-divider divider"></div>
    <div class="videos-header">סרטונים</div>
    <div class="vidseos">
        <iframe width="336" height="189" src="https://www.youtube.com/embed/eWZ1xA8cWKY" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="336" height="189" src="https://www.youtube.com/embed/JNpnqiGBrZk" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="336" height="189" src="https://www.youtube.com/embed/wJ-8oqZWUMw" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>

<ng-template #kit let-icon="icon" let-heading="heading" let-description="description">
    <div class="kit">
        <img class="kit-icon" [src]="icon" />
        <div class="kit-heading">{{heading}}</div>
        <div class="site-text kit-description">{{description}}</div>
        <button class="site-button download-button">להורדה&nbsp;<i class="fas fa-angle-double-left"></i></button>
    </div>
</ng-template>