.kits-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 15%));
  grid-gap: 1em;
  place-content: center;
  margin-bottom: 3em;
  justify-content: center;

  @media only screen and (max-width: 1600px) {
    grid-template-columns: repeat(4, minmax(250px, 21%));
  }

  @media only screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 90%);
  }

  .kit-card {
    width: 100%;
    text-align: center;
    padding: 1em;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 90px 40px auto 45px;

    .kit-icon {
      width: 80px;
      height: 75px;
      margin-bottom: 0.5em;
      justify-self: center;
    }

    .kit-heading {
      color: var(--primary-color);
      font-family: 'arbel';
      font-size: 25px;
      text-align: center;
      justify-self: center;
      margin-bottom: 0.5em;
    }

    .kit-description {
      text-align: center;
      margin-top: 0;
      margin-bottom: 15px;
      width: 100%;
    }

    .download-button {
      position: relative;
      font-size: 22px;
      margin-bottom: auto;

      .fa-angle-double-left {
        font-size: 18px;
      }
    }
  }
}

.videos-container {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 40px 60px 40px;

  .divider::after {
    background-color: white;
  }

  .videos-header {
    color: white;
    margin-bottom: 2em;
  }

  .small-heading {
    letter-spacing: 8px;
  }

  .videos-button {
    background: transparent;
    margin: 0 10px;
    border: none;

    .icon {
      display: inline-block;
      width: 25px;
      height: 25px;
      vertical-align: middle;

      margin: 0 12px;
      background: transparent;
    }
  }
  .pages-numbers-text {
    color: white;
  }

  .videos {
    grid-template-columns: repeat(3, auto);
    grid-gap: 4em;
    place-content: center;
    width: 100%;
    display: none;

    @media only screen and (max-width: 768px) {
      grid-template-columns: repeat(1, auto);
    }
  }
}

.quotes-container {
  .quotes {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    place-content: center;
    width: 100%;
    padding: 0 100px;
    max-width: 1000px;
    margin: auto;
    display: none;

    @media only screen and (max-width: 768px) {
      grid-template-columns: repeat(1, auto);
      padding: 0 65px;
    }
    .quote {
      background-color: #efefef;
      width: 100%;
      padding: 1em;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto 1fr auto 25px 50px;
      visibility: visible;

      .apostrophy {
        height: 30px;
        margin-bottom: 15px;
      }

      .quote-text {
        text-align: center;
        justify-self: center;
        text-decoration: none;
        font-family: 'arbel';
        line-height: 25px;
        margin-top: 5px;
      }

      .quote-divider {
        justify-self: center;
        height: 3px;
        width: 80%;
        background-color: var(--primary-color);
        margin: 10px 0;
      }

      .person-link {
        text-align: center;
        justify-self: center;
        font-size: 14px;
        text-decoration: none;
        line-height: 25px;
        margin-top: 0;
      }
    }
  }

  .pages-number-container {
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 768px) {
      margin-bottom: 50px;
    }

    .quotes-button {
      align-self: center;
      background: transparent;
      margin: 0 25px;
      border: none;

      .icon {
        display: inline-block;
        width: 25px;
        height: 25px;
        vertical-align: middle;

        margin: 0 12px;
        background: transparent;
      }
    }

    .pages-numbers-text-quote {
      color: #3787b1;
    }
  }
}
