.kits-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 20%));
  grid-gap: 1em;
  place-content: center;
  margin-bottom: 3em;
  justify-content: center;

  @media only screen and (max-width: 768px) {
    grid-template-columns: repeat(1, auto);
  }
  .kit-card {
    width: 100%;
    text-align: center;
  }

  .kit-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 0.5em;
    justify-self: center;
  }
  .kit-heading {
    color: var(--primary-color);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    justify-self: center;
    margin-bottom: 0.5em;
  }

  .kit-description {
    text-align: center;
    justify-self: center;
    margin-bottom: 0.5em;
  }
  .download-button {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
  }
}

.videos-container {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 40px 60px 40px;

  .divider::after {
    background-color: white;
  }

  .videos-header {
    color: white;
    margin-bottom: 2em;
  }

  .vidseos {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
    place-content: center;
    width: 100%;

    @media only screen and (max-width: 768px) {
      grid-template-columns: repeat(1, auto);
    }
  }
}

.quotes-container {
  .quotes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    place-content: center;
    width: 100%;
    padding: 0 100px;
    max-width: 1000px;
    margin: auto;

    @media only screen and (max-width: 768px) {
      grid-template-columns: repeat(1, auto);
    }
    .quote {
      background-color: #efefef;
      width: 100%;
      padding: 1em;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto 1fr auto 30px 50px;

      .apostrophy {
      }

      .quote-text {
        text-align: center;
        justify-self: center;
      }

      .quote-divider {
        justify-self: center;
        height: 3px;
        width: 80%;
        background-color: var(--primary-color);
        margin: 20px 0;
      }

      .person-link {
        text-align: center;
        justify-self: center;
        font-size: 14px;
        text-decoration: none;
      }
    }
  }
}
