<div class="login-form">
  <div class="body">
    <div class="title">
      הרשמה
    </div>
    <ng-container [formGroup]="form">
      <input
        type="email"
        placeholder="אימייל"
        class="input"
        formControlName="email"
        [class.invalid]="!email.valid && email.touched"
      />
      <input
        type="password"
        placeholder="סיסמא (לפחות 6 תווים)"
        class="input"
        formControlName="password"
        [class.invalid]="!password.valid && password.touched"
      />
      <input
        type="password"
        placeholder="אישור סיסמא"
        class="input"
        formControlName="passwordConfirm"
        [class.invalid]="(!password.valid || form.hasError('notSame')) && password.touched"
      />
    </ng-container>
    <div class="footer">
      <div class="nav-buttons">
        <button class="nav-button" (click)="haveUser.emit()">
          יש לי כבר משתמש
        </button>
      </div>
    </div>
    <div class="social-buttons">
      <app-login-social-button class="social-button" [type]="'facebook'" (click)="signUpWithFacebook.emit()">
        הרשם עם פייסבוק
      </app-login-social-button>
      <app-login-social-button class="social-button" [type]="'google'" (click)="signUpWithGoogle.emit()">
        הרשם עם גוגל
      </app-login-social-button>
    </div>
  </div>
  <p class="form-invalid-message" *ngIf="formInvalid">
    אחד או יותר מהשדות אינם תקינים
  </p>
  <button class="site-button main-button" tabindex="5" (click)="onSubmit()" [disabled]="loading">
    הרשם
  </button>
</div>
