<div
  *ngIf="formGroup"
  (click)="focusInput()"
  class="host-input-container"
  [class.textarea-input]="textarea"
  [class.invalid]="!control.valid && control.touched"
  [formGroup]="formGroup"
>
  <div
    *ngIf="iconUrl"
    class="input-icon"
    [style.background-image]="'url(' + iconUrl + ')'"
  ></div>
  <div class="input-label">
    {{label}}
  </div>
  <input
    #input
    *ngIf="!textarea"
    [type]="inputType"
    [formControlName]="controlName"
  />
  <textarea #input *ngIf="textarea" [formControlName]="controlName"></textarea>
</div>
