<div class="about-container">
    <h1>הסיפור שלנו</h1>
    <p>
        עמותת "האחים שלנו" הוקמה בשנת 2017 על ידי אחים שכולים ומתנדבים, במטרה ליצור קהילה תומכת ומעצימה עבור האחים
        והאחיות
        השכולים במדינת ישראל.

        אנו סבורים כי סיפורם של חללי צבא ההגנה לישראל, כוחות הביטחון ונפגעי פעולות האיבה הינו מצפן ערכי ומוסרי הנוטע
        תקווה,
        אמונה, תחושת הזדהות ושותפות גורל בין אזרחי המדינה.

        כיום, רוב ההורים השכולים חצו את גיל 75.(* לפי דוח מחקר של היחידה לחקר הזקנה - לינק למחקר והערת שוליים) עובדה זו
        חיזקה את ההבנה כי בשנים הקרובות, עלינו, האחים, לקחת חלק בהנצחה ובהנחלת המורשת של הנופלים, האחים שלנו.

        השיח סביב השכול במדינת ישראל מייצר פלטפורמת מפגש נדירה אשר חוצה תפיסות, מגזרים, עדות ודתות, ומהווה בסיס איתן
        לחיזוק
        האחדות בחברה הישראלית.

        סיפורם של האחים השכולים מעולם לא סופר בצורה נרחבת. האחים מביאים זווית ייחודית ואישית הטומנת בחובה חברות ואחווה,
        חוויות וחלומות משותפים, רגעי שטות והומור, ההתמודדות בתוך המשפחה ועל החיים עם התואר "אח שכול".

        לצערנו, אין כמעט אחד בחברה הישראלית שלא מכיר אדם שנפל במהלך שירותו הצבאי ובפעולות איבה. יחד עם זאת, אנשים רבים
        מחפשים דרך להתחבר לנופלים וליום הזיכרון. מתוך הרצון להפוך את יום הזיכרון לאישי ומשמעותי, הנופלים הינם האחים
        שלנו, אך
        הם גם האחים של כל אדם ואדם בחברה הישראלית. כל עוד נמשיך לספר את סיפורם, זכרונם יהדהד ולא יישכח.
        <br />
        <b>"כִּי מִדֵּי דַבְּרִי בּוֹ זָכֹר אֶזְכְּרֶנּוּ עוֹד" (ירמיהו ל"א, י"א)</b>



        האחים שלנו מגיעים מכל קשת הגילים והאזורים בארץ ומחוצה לה.
        מהצפון ועד הדרום, צעירים ומבוגרים, דתיים וחילוניים, יהודים ושאינם יהודים, שאחיהם נפלו במערכות ישראל מאז הקמתה.
        האחים הם כולנו
    </p>
</div>