.card-container {
  width: 230px;
  height: 300px;
  perspective: 800px;
  transform-style: preserve-3d;

  &:not(.disabled):hover {
    .card-front {
      transform: rotateY(180deg);
    }

    .card-back {
      transform: rotateY(360deg);
    }
  }

  .card-front {
    transition: all 1s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 2px;
    border-color: rgb(0, 160, 153);
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px 35px 20px;
    backface-visibility: hidden;

    .card-front-img {
      margin-bottom: 45px;
      width: 100%;
      height: 110px;
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: center top;
    }

    .front-title {
      padding: 0 30px;
      font-size: 28px;
      color: rgb(0, 115, 109);
      text-align: center;
    }
  }

  .card-back {
    transition: all 1s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 160, 153);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 64px 20px 64px 20px;
    transform: rotateY(180deg);
    backface-visibility: hidden;

    .back-text {
      font-size: 22px;
      text-align: center;
      color: rgb(255, 255, 255);
      width: 160px;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 1.7;
    }

    .back-button {
      cursor: pointer;
      margin-top: 35px;
      background-color: rgb(255, 255, 255);
      font-size: 20px;
      color: rgb(0, 160, 153);
      padding: 8px 20px;
    }
  }

  &.disabled {
    cursor: not-allowed;

    .card-front {
      border-color: grey;
      .front-title {
        color: grey;
      }
    }
  }
}
