<div class="list-container" [class.extended]="user.id === meeting.hostId">
  <div class="header">
    <div class="col col-name">
      שם המשתתף
    </div>
    <div class="col col-capacity">
      מספר משתתפים
    </div>
    <div class="col col-phone" *ngIf="user.id === meeting.hostId">
      טלפון
    </div>
    <div class="col col-email" *ngIf="user.id === meeting.hostId">
      מייל
    </div>
  </div>
  <div class="body">
    <div class="row" *ngFor="let participate of meetingParticipates">
      <div class="col col-name">
        <span class="mobile-label">שם המשתתף</span>
        <span class="name">
          {{ participate.firstName + ' ' + participate.lastName }}
        </span>
      </div>
      <div class="col col-capacity">
        <span class="mobile-label">מספר משתתפים</span>
        {{ participate.accompanies + 1 }}
      </div>
      <div class="col col-phone" *ngIf="user.id === meeting.hostId">
        <span class="mobile-label">טלפון נייד</span>
        {{ participate.phoneNumber | phone }}
      </div>
      <div class="col col-email" *ngIf="user.id === meeting.hostId">
        <span class="mobile-label">מייל</span>
        {{ participate.email }}
      </div>
    </div>
  </div>
</div>
