.video-background {
  background-image: url(../../../assets/img/mainBack.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 -20px;

  @media only screen and (min-width: 768px) {
    background-position: 0 -40px;
  }

  @media only screen and (min-width: 1024px) {
    background-position: 0 -60px;
  }

  @media only screen and (min-width: 1440px) {
    background-position: 0 -100px;
  }

  .video-show-box {
    padding: 20% 0;
    position: relative;
    overflow: hidden;

    max-width: calc(100% - 200px);
    margin: 0 auto;

    @media only screen and (max-width: 1024px) {
      max-width: calc(100% - 75px);
    }

    .home-page-video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &::-webkit-media-controls-panel {
        display: none;
      }
    }

    .volume-button {
      position: absolute;
      top: 5px;
      right: 5px;
      background-color: transparent;
      color: white;
      height: 50px;
      width: 50px;
      border: 0;
      cursor: pointer;
    }
  }
}

.talking-life {
  color: rgb(55, 135, 177);
}

.see-more {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  color: rgb(42, 47, 53);
  text-decoration: underline;
  margin-bottom: 70px;

  a {
    cursor: pointer;
    min-width: 100px;
    margin-left: 200px;
  }
}

.mettings-quote {
  margin-bottom: 50px;
}

.gallery-container {
  padding: 50px;
  overflow: hidden;

  .gallery-images {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    position: relative;

    .gallery-image {
      margin-left: 13px;
      margin-right: 13px;
      margin-bottom: 26px;
      max-width: 100%;
    }

    .circle-top-right {
      position: absolute;
      top: 0;
      right: 0;
      transform: translateY(-35%);

      @media only screen and (max-width: 768px) {
        transform: translate(35%, -35%);
      }
    }

    .circle-middle-left {
      position: absolute;
      top: 50%;
      left: 0;
      z-index: -1;

      transform: translate(-25%, -50%);

      @media only screen and (max-width: 768px) {
        display: none;
      }
    }

    .circle-bottom-right {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1;
      transform: translate(10%, 10%);

      @media only screen and (max-width: 768px) {
        right: unset;
        left: -50%;
      }
    }
  }
}

.contact-form {
  padding: 85px 0;
  background-color: rgb(248, 248, 248);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .contact-form-fields {
    max-width: 1000px;
    width: calc(100% - 50px);
    padding: 0 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .form-field {
      margin-left: 15px;
      margin-right: 15px;
      margin-bottom: 25px;
    }
  }

  .contact-send-button {
    width: 250px;
    height: 55px;
    font-size: 36px;
    font-family: "arbel";
    margin-top: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .big-heading {
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .contact-form {
    padding: 35px 0;
    .contact-form-fields {
      padding: 0px;
      width: calc(100% - 10px);

      .form-field {
        width: 45%;
        margin-left: 7px;
        margin-right: 7px;
        margin-bottom: 14px;
      }
      .message {
        width: calc(100% - 20px);
      }
    }
    .contact-send-button {
      width: 200px;
      height: 45px;
      font-size: 25px;
      margin-top: 7px;
    }
  }
  .site-hr {
    margin-bottom: 20px;
  }
  .site-divider {
    margin-bottom: 20px;
  }
  .small-heading {
    margin-bottom: 20px;
  }
  .medium-heading {
    margin-bottom: 20px;
  }
  .see-more {
    margin-bottom: 20px;
    justify-content: center;
    a {
      margin-left: 0px;
    }
  }
  .site-quote.mettings-quote {
    margin-bottom: 20px;
    .site-quote-text {
      font-size: 30px;
    }
  }
}
