<div class="video-background">
  <div class="video-show">
    <div class="video-show-box">
      <video id="vid" autoplay loop muted width="100%">
        <source src="../../../assets/video/home-page.mp4" type="video/mp4">
      </video>

      <button id="mute-btn" (click)="muteUnmute()"><i class="fas fa-volume-mute"></i></button>
    </div>
  </div>
  <div class="heading-talking big-heading">
    מדברים <span class="talking-life">חיים</span>
  </div>
  <div class="site-hr"></div>
</div>
<div class="site-divider"></div>
<div class="small-heading">האחים שלנו</div>
<div class="medium-heading">המפגשים שלנו</div>
<div class="site-text">
  השנה, לקראת יום הזכרון (22.4-28.4), אתם הולכים לשמוע סיפור שעוד לא שמעתם,
  סיפורם של האחים והאחיות השכולים. על אחים שלבשו מדים ויצאו לצבא ועל אלו שנשארו
  בבית וחיכו להם. על משפחה שלמה שיום אחד התפרקה. זהו סיפור על חיים שנחצו ברגע.
  הקול שלנו מספר סיפור אישי, משפחתי ולאומי. סיפורה של מדינת ישראל. אנחנו האחים,
  בוחרים לשתף אתכם; בכאב ובשמחה, בהתמודדות, בתקווה ובגעגוע שאינו פוסק. בחרנו
  להנציח אותם דרכם. במפגשים בכל רחבי הארץ, אתם תשמעו את הסיפור שלנו; על ספה, על
  הדשא, במשרד, בחצר או בכל מקום שתבחרו. אחים יפתחו את ליבם, ישתפו אתכם ברגעים
  הכי אינטימיים ואישיים שלהם ויספרו לכם על האחים שכל כך אהבו. האחים של כולנו.
  אנחנו מזמינים אתכם לקחת חלק.
</div>
<div class="flip-cards">
  <app-flip-card [frontImage]="'/assets/img/cardImgParticipant.png'" [frontTitle]="'אני רוצה להשתתף'"
    [backText]="'מעוניין להתארח באחד המפגשים?'" [backButtonText]="'לפרטים נוספים'" [backButtonUrl]="">
  </app-flip-card>
  <app-flip-card [frontImage]="'/assets/img/cardImgTeller.png'" [frontTitle]="'אני רוצה לספר'"
    [backText]="'אח/אחות שכולים? מעוניינים לספר את ספורכם האישי?'" [backButtonText]="'לפרטים נוספים'"
    [backButtonUrl]="">
  </app-flip-card>
  <app-flip-card [frontImage]="'/assets/img/cardImgHost.png'" [frontTitle]="'אני רוצה לארח'"
    [backText]="'מעוניין לפתוח את ביתך ולארח מפגש?'" [backButtonText]="'לפרטים נוספים'" [backButtonUrl]="">
  </app-flip-card>
</div>
<div class="see-more">
  <a>ראה עוד >></a>
</div>
<div class="site-quote mettings-quote">
  <div class="site-quote-text">
    המפגשים מאפשרים הצצה נדירה וייחודית להתמודדות האחים עם נפילת יקיריהם
    ומאפשרים לשמוע סיפור שמעלם לא סופר בצורה נרחבת ורשמית
  </div>
</div>
<div class="mettings-gallery">
  <div class="mettings-gallery-images">
    <img src="../../../assets/img/gallery_right.png" alt="Metting Gallery Image 1" />
    <img src="../../../assets/img/gallery_left.png" alt="Metting Gallery Image 1" />
    <img src="../../../assets/img/gallery_bottom.png" alt="Metting Gallery Image 1" />
  </div>
  <img src="../../../assets/img/gallery_top_right_circle.png" alt="" class="circle-top-right" />
  <img src="../../../assets/img/gallery_middle_left_circle.png" alt="" class="circle-middle-left" />
  <img src="../../../assets/img/gallery_bottom_right_circle.png" alt="" class="circle-bottom-right" />
</div>
<div class="contact-form">
  <div class="site-divider"></div>
  <div class="small-heading">צור קשר</div>
  <div class="medium-heading">השאירו פרטים</div>
  <form [formGroup]="contactForm" class="contact-form-fields">
    <input formControlName="firstName" class="form-field" placeholder="שם פרטי*"
      [class.invalid]="!firstName.valid && firstName.touched" />
    <input formControlName="lastName" class="form-field" placeholder="שם משפחה*"
      [class.invalid]="!lastName.valid && lastName.touched" />
    <input formControlName="phone" class="form-field" placeholder="טלפון*"
      [class.invalid]="!phone.valid && phone.touched" />
    <input formControlName="email" class="form-field" placeholder="אימייל" />
    <textarea formControlName="message" class="form-field message" placeholder="תוכן הודעה"></textarea>
  </form>
  <div class="site-button contact-send-button" [class.disabled]="!contactForm.valid">
    שלח
  </div>
</div>
