.video-background {
  background-image: url(../../../assets/img/mainBack.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 -20px;

  @media only screen and (min-width: 768px) {
    background-position: 0 -40px;
  }

  @media only screen and (min-width: 1024px) {
    background-position: 0 -60px;
  }

  @media only screen and (min-width: 1440px) {
    background-position: 0 -100px;
  }

  @media only screen and (min-width: 2560px) {
    background-position: 0 -220px;
  }

  .video-show-box {
    padding: 22% 0;
    position: relative;
    overflow: hidden;

    max-width: calc(100% - 200px);
    margin: 0 auto;

    @media only screen and (max-width: 1024px) {
      max-width: calc(100% - 75px);
    }

    .home-page-video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &::-webkit-media-controls-panel {
        display: none;
      }
    }

    .volume-button {
      position: absolute;
      top: 5px;
      right: 5px;
      background-color: transparent;
      color: white;
      height: 50px;
      width: 50px;
      border: 0;
      cursor: pointer;
    }
  }
}

.talking-life {
  color: rgb(55, 135, 177);
}

.see-more {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  color: rgb(42, 47, 53);
  text-decoration: none;
  margin-bottom: 70px;

  a {
    cursor: pointer;
    min-width: 100px;
    margin-left: 200px;
    text-decoration: none;
    color: #818181;
  }
  a:hover {
    text-decoration: underline;
  }
}

.mettings-quote {
  margin-bottom: 50px;
}

.gallery-container {
  padding: 50px;
  overflow: hidden;

  .gallery-images {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    position: relative;

    .gallery-image {
      margin-left: 13px;
      margin-right: 13px;
      margin-bottom: 26px;
      max-width: 100%;
    }

    .circle-top-right {
      position: absolute;
      top: 0;
      right: 0;
      transform: translateY(-35%);

      @media only screen and (max-width: 768px) {
        transform: translate(35%, -35%);
      }
    }

    .circle-middle-left {
      position: absolute;
      top: 50%;
      left: 0;
      z-index: -1;

      transform: translate(-25%, -50%);

      @media only screen and (max-width: 768px) {
        display: none;
      }
    }

    .circle-bottom-right {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1;
      transform: translate(10%, 10%);

      @media only screen and (max-width: 768px) {
        right: unset;
        left: -50%;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .big-heading {
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .flip-cards {
    overflow: hidden;
  }
  .site-hr {
    margin-bottom: 20px;
  }
  .site-divider {
    margin-bottom: 20px;
  }
  .small-heading {
    margin-bottom: 20px;
  }
  .medium-heading {
    margin-bottom: 20px;
  }
  .see-more {
    margin-bottom: 20px;
    justify-content: center;
    a {
      margin-left: 0px;
    }
  }
  .site-quote.mettings-quote {
    margin-bottom: 20px;
    .site-quote-text {
      font-size: 30px;
    }
  }
}
