.video-background {
  background-image: url(../../../assets/img/mainBack.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -120px;
}

.video-show {
  video::-webkit-media-controls-panel {
    display: none !important;
  }

  .video-show-box {
    margin: auto;
    width: calc(100% - 200px);

    #vid {
      margin-top: -165px;
    }
  }

  #mute-btn {
    position: absolute;
    top: 2%;
    right: 2%;
    background-color: transparent;
    color: white;
    height: 50px;
    width: 50px;
    border: 0px;
  }
}

.talking-life {
  color: rgb(55, 135, 177);
}

.see-more {
  // padding: 0 380px;
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  color: rgb(42, 47, 53);
  text-decoration: underline;
  margin-bottom: 70px;

  a {
    cursor: pointer;
    min-width: 100px;
    margin-left: 200px;
  }
}

.mettings-quote {
  margin-bottom: 50px;
}

.mettings-gallery {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  overflow: hidden;

  .mettings-gallery-images {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;

    img {
      margin-left: 13px;
      margin-right: 13px;
      margin-bottom: 26px;
      max-width: 100%;
    }
  }

  .circle-top-right {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%) translateX(515px);
  }

  .circle-middle-left {
    position: absolute;
    top: 210px;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%) translateX(-435px);
  }

  .circle-bottom-right {
    position: absolute;
    bottom: 55px;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%) translateX(420px);
  }
}

.contact-form {
  padding: 85px 0;
  background-color: rgb(248, 248, 248);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .contact-form-fields {
    max-width: 1000px;
    width: calc(100% - 50px);
    padding: 0 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .form-field {
      margin-left: 15px;
      margin-right: 15px;
      margin-bottom: 25px;
    }
  }

  .contact-send-button {
    width: 250px;
    height: 55px;
    font-size: 36px;
    font-family: 'arbel';
    margin-top: 15px;
  }
}

@media only screen and (max-width: 700px) {
  .video-background {
    background-position: -75px -120px;
  }

  .video-show {
    .video-show-box {
      width: calc(100% - 50px);
      overflow: hidden;

      #vid {
        margin-top: 0px;
        width: 245%;
        left: 50%;
      }
    }
  }

  .big-heading {
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .contact-form {
    padding: 35px 0;
    .contact-form-fields {
      padding: 0px;
      width: calc(100% - 10px);

      .form-field {
        width: 45%;
        margin-left: 7px;
        margin-right: 7px;
        margin-bottom: 14px;
      }
      .message {
        width: calc(100% - 20px);
      }
    }
    .contact-send-button {
      width: 200px;
      height: 45px;
      font-size: 25px;
      margin-top: 7px;
    }
  }
  .site-hr {
    margin-bottom: 20px;
  }
  .site-divider {
    margin-bottom: 20px;
  }
  .small-heading {
    margin-bottom: 20px;
  }
  .medium-heading {
    margin-bottom: 20px;
  }
  .see-more {
    margin-bottom: 20px;
    justify-content: center;
    a {
      margin-left: 0px;
    }
  }
  .site-quote.mettings-quote {
    margin-bottom: 20px;
  }
  .mettings-gallery {
    margin-bottom: 0px;

    .circle-top-right {
      right: -5%;
      left: auto;
      transform: none;
    }

    .circle-bottom-right {
      left: -65%;
      transform: none;
    }
  }
}
