.slide-show {
  width: calc(100% - 200px);
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 15px;
  height: 880px;
  background-image: url(../../../assets/img/slide1.png);
  background-size: 100%;
  margin-bottom: 40px;
}

.talking-life {
  color: rgb(55, 135, 177);
}

.our-brothers-heading {
  letter-spacing: 15px;
}
