<div class="slide-show">

</div>
<div class="heading-talking big-heading">מדברים <span class="talking-life">חיים</span></div>
<div class="site-hr"></div>
<div class="site-divider"></div>
<div class="small-heading our-brothers-heading">האחים שלנו !</div>
<div class="medium-heading">איך נראים המפגשים שלנו?</div>
<div class="site-text">לקראת יום הזכרון, אחים ואחיות שכולים יספרו את סיפורם האישי והייחודי במקומות שונים: סלון הבית,
    תנועות נוער, ארגונים שונים, מוסדות חינוך וכו' וזאת במטרה לספק לקהל השומעים זווית ראיה מנקודתת מבט אישית
    ואותנטית. כל מפגש מכיל מינימום 15 אנשים, כאשר המארח מזמין מראש ויכול לאפשר אופציה גם לקהל נוסף להשתתף במפגש.
</div>