<div class="footer">
  <div class="footer-container">
    <div class="row">
      <div class="col col-logo">
        <div class="logo-footer"></div>
      </div>
      <div class="col col-links">
        <div class="title">ניווט</div>
        <div class="links">
          <div class="link" routerLink="home">דף הבית</div>
          <div class="link" routerLink="meetings">מפגשים</div>
          <div class="link" routerLink="about">אודותינו</div>
          <div class="link">מבנה הערב</div>
        </div>
      </div>
      <div class="col col-links">
        <div class="title"></div>
        <div class="links">
          <div class="link">שאלות</div>
          <div class="link">גלריה</div>
          <div class="link" routerLink="contact">צור קשר</div>
          <div class="link">מדיניות פרטיות</div>
        </div>
      </div>
      <div class="col col-links">
        <div class="title">מפגשים</div>
        <div class="links">
          <div class="link" routerLink="meetings">מפת מפגשים</div>
          <div class="link" routerLink="tell">אני רוצה לספר</div>
          <div class="link" routerLink="host">אני רוצה לארח</div>
          <div class="link" routerLink="participate">אני רוצה להשתתף</div>
        </div>
      </div>
      <div class="col col-links">
        <div class="title">אודותינו</div>
        <div class="links">
          <div class="link">רקע</div>
          <div class="link">השותפים שלנו</div>
          <div class="link">עלינו בתקשורת</div>
          <div class="link">כותבים עלינו</div>
        </div>
      </div>
      <div class="col col-details">
        <div class="title">פרטי התקשרות</div>
        <div class="details">
          <div>
            <span>
              טלפון:
            </span>
            <a href="tel:+972584094624" class="phone-link">058-409-4624</a>
          </div>
          <div>
            <span>
              אימייל:
            </span>
            <a href="mailto:info@ourbrothers.org" class="email-link">info@ourbrothers.org</a>
          </div>
        </div>
        <div class="socials">
          <a href="https://www.facebook.com/ourbrotherss/" target="_blank">
            <img class="social-icon facebook-icon" src="../assets/img/facebook.png" />
          </a>
          <a href="https://www.youtube.com/channel/UCgKTy9WBTcb2Udm0tqwIzAg" target="_blank">
            <img class="social-icon youtube-icon" src="../assets/img/youtube.png" />
          </a>
          <a href="mailto:info@ourbrothers.org">
            <img class="social-icon email-icon" src="../assets/img/email.png" />
          </a>
        </div>
      </div>
    </div>
    <div class="hr"></div>
    <div class="bottom-line">
      <div class="publisher">
        <a href="https://github.com/gilhanan/our-brothers/graphs/contributors" class="publisher-link" target="_blank">
          <span>
            פותח בהתנדבות
          </span>
          <i class="fas fa-heart"></i>
        </a>
      </div>
      <div class="copyrights">© 2020 כל הזכויות שמורות לאחים שלנו</div>
    </div>
  </div>
</div>

<div class="footer-mobile-sticky">
  <div class="social-box">
    <a href="mailto:info@ourbrothers.org" class="email-link">
      <i class="far fa-envelope"></i>
    </a>
  </div>
  <div class="social-box">
    <a href="tel:+972584094624">
      <i class="fas fa-phone"></i>
    </a>
  </div>
  <div class="social-box"><i class="fab fa-whatsapp"></i></div>
</div>
