.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  color: #999999;
  box-shadow: 0px 20px 30px 30px #00000010;

  .footer-container {
    @media only screen and (max-width: 700px) {
      width: 80%;
    }
  }

  .row {
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .col {
      flex: 0 1 auto;
      padding: 20px;

      @media only screen and (max-width: 700px) {
        padding-bottom: 0px;
      }

      .title {
        font-size: 16px;
        min-height: 1.3em;
        color: #00a099;
        font-family: "arbel";

        @media only screen and (max-width: 500px) {
          font-size: 14px;
        }
      }

      &.col-logo {
        align-self: center;
        margin-top: 10px;
        .logo-footer {
          width: 190px;
          height: 80px;
          background-image: url(../../../assets/img/logo.png);
          background-size: 100%;
          background-repeat: no-repeat;
        }

        @media only screen and (max-width: 700px) {
          display: none;
        }
      }

      &.col-links {
        .links {
          .link {
            display: block;
            font-size: 14px;
            color: #999999;
            transition: 0.2s;

            &:hover {
              color: #00a099;
              transition: 0.1s;
            }

            @media only screen and (max-width: 500px) {
              font-size: 13px;
            }
          }
        }

        @media only screen and (max-width: 700px) {
          display: none;
        }
      }

      &.col-details {
        .title {
          @media only screen and (max-width: 700px) {
            display: none;
          }
        }

        .details {
          font-size: 14px;
        }

        .socials {
          margin-top: 5px;
          @media only screen and (max-width: 700px) {
            text-align: center;
          }
          .social-icon {
            margin: 0 5px;
            &.facebook-icon {
              width: 11px;
            }
            &.youtube-icon {
              width: 22px;
            }
            &.email-icon {
              width: 20px;
            }
            @media only screen and (max-width: 700px) {
              margin-top: 12px;
              text-align: center;
            }
          }
        }
      }
    }
  }

  .hr {
    margin: 20px 0;
    height: 1px;
    background-color: #dbdbdb;
  }

  .bottom-line {
    font-size: 12px;
    margin: 20px 0;
    position: relative;

    .copyrights {
      text-align: center;
      @media only screen and (max-width: 700px) {
        text-align: right;
        font-size: 11px;
      }
    }

    .publisher {
      position: absolute;
      left: 0;

      @media only screen and (max-width: 700px) {
        font-size: 11px;
      }

      .publisher-link {
        text-decoration: none;
        color: #999999;
      }

      .fa-heart {
        color: #00a099;
      }
    }
  }
}

.footer-mobile-sticky {
  display: none;

  @media only screen and (max-width: 700px) {
    display: flex;
    padding: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    transform: translateY(100%);
    background-color: #00a099;

    .social-box {
      flex: 1;
      margin: 5px;
      padding: 4px 0;
      text-align: center;
      background-color: white;
      color: #00a099;
    }
  }
}
