<div class="footer">
  <div class="contain">
    <div class="col col-logo">
      <div class="logo-footer"></div>
    </div>
    <div class="col col-double">
      <h1>ניווט</h1>
      <ul>
        <li>דף הבית</li>
        <li>מפגשים</li>
        <li>אודותינו</li>
        <li>מבנה הערב</li>
      </ul>
    </div>
    <div class="col">
      <h1 style="color:white;">.</h1>
      <ul>
        <li>שאלות</li>
        <li>גלריה</li>
        <li>צור קשר</li>
        <li>מדיניות פרטיות</li>
      </ul>
    </div>
    <div class="col">
      <h1>מפגשים</h1>
      <ul>
        <li>מפת מפגשים</li>
        <li>אני רוצה לספר</li>
        <li>אני רוצה לארח</li>
        <li>אני רוצה להשתתף</li>
      </ul>
    </div>
    <div class="col">
      <h1>אודותינו</h1>
      <ul>
        <li>רקע</li>
        <li>השותפים שלנו</li>
        <li>עלינו בתקשורת</li>
        <li>כותבים עלינו</li>
      </ul>
    </div>
    <div class="col col-last">
      <h1>פרטי התקשרות</h1>
      <ul>
        <li>טלפון:____________</li>
        <li>אימייל:Info@ourbrothers.org</li>
      </ul>
      <div class="social">
        <ul>
          <li><img src="../assets/img/facebook.png" width="13" style="width: 13px; margin-left: 5px; margin-top: 5px;"></li>
          <li><img src="../assets/img/youtube.png" width="22" style="width: 22px; margin-left: 5px;"></li>
          <li><img src="../assets/img/email.png" width="20" style="width: 20px; margin-left: 5px;"></li>
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="site-hr"></div>
  <div class="contain">
    <div class="clearfix"></div>
    <div class="col col-copyright">
      <p class="alignright" style="color:white;">.</p>
      <p class="aligncenter">© 2020 כל הזכויות שמורות לאחים שלנו</p>
      <p class="alignleft">פותח בהתנדבות</p>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
