<div class="footer">
  <div class="footer-container">
    <div class="row">
      <div class="col col-logo">
        <div class="logo-footer"></div>
      </div>
      <div class="col col-links">
        <div class="title">ניווט</div>
        <div class="links">
          <div class="link">דף הבית</div>
          <div class="link">מפגשים</div>
          <div class="link">אודותינו</div>
          <div class="link">מבנה הערב</div>
        </div>
      </div>
      <div class="col col-links">
        <div class="title"></div>
        <div class="links">
          <div class="link">שאלות</div>
          <div class="link">גלריה</div>
          <div class="link">צור קשר</div>
          <div class="link">מדיניות פרטיות</div>
        </div>
      </div>
      <div class="col col-links">
        <div class="title">מפגשים</div>
        <div class="links">
          <div class="link">מפת מפגשים</div>
          <div class="link">אני רוצה לספר</div>
          <div class="link">אני רוצה לארח</div>
          <div class="link">אני רוצה להשתתף</div>
        </div>
      </div>
      <div class="col col-links">
        <div class="title">אודותינו</div>
        <div class="links">
          <div class="link">רקע</div>
          <div class="link">השותפים שלנו</div>
          <div class="link">עלינו בתקשורת</div>
          <div class="link">כותבים עלינו</div>
        </div>
      </div>
      <div class="col col-details">
        <div class="title">פרטי התקשרות</div>
        <div class="details">
          <div>טלפון:____________</div>
          <div>אימייל:Info@ourbrothers.org</div>
        </div>
        <div class="socials">
          <img class="social-icon facebook-icon" src="../assets/img/facebook.png" />
          <img class="social-icon youtube-icon" src="../assets/img/youtube.png" />
          <img class="social-icon email-icon" src="../assets/img/email.png" />
        </div>
      </div>
    </div>
    <div class="hr"></div>
    <div class="bottom-line">
      <div class="publisher">פותח בהתנדבות</div>
      <div class="copyrights">© 2020 כל הזכויות שמורות לאחים שלנו</div>
    </div>
  </div>
</div>
