<div class="training-container">
  <div class="training-text">
    אנו יודעים שמפגש כזה מעורר הרבה מחשבות ולכן אנו מציעים לך לקחת חלק
    במפגשי ההדרכה שלנו.
  </div>
  <div class="training-options">
    <div *ngFor="let guidance of guidances" class="training-option">
      <app-checkbox [label]="guidance.label" [checked]="selectedGuidances[guidance.value]"
        (checkedChanged)="onGuidanceChange(guidance.value, $event)"></app-checkbox>
    </div>
    <div class="training-option">
      <app-checkbox [label]="'לא מעוניין בהדרכה'" [checked]="notIntereseted"
        (checkedChanged)="notIntereseted = $event; $event && selectedGuidances = {}">
      </app-checkbox>
    </div>
  </div>
</div>
<div (click)="onSubmit()" class="site-button primary-button step-button">
  המשך
</div>
