.view-toggle-container {
  border: 3px solid rgb(0, 160, 153);
  border-radius: 0;

  .view-button {
    width: 60px;
    background-color: white;
    text-align: center;
    cursor: pointer;

    .map-icon,
    .list-icon {
      width: 40px;
      height: 40px;
      margin: 0 auto;
      background-size: 100%;
      background-repeat: no-repeat;
    }

    .map-icon {
      background-image: url(../../../assets/img/mapGray.svg);
    }

    .list-icon {
      background-image: url(../../../assets/img/list.svg);
    }

    .label {
      line-height: 24px;
    }
  }
}
