.view-toggle-container {
  border: 10px solid rgb(0, 160, 153);
  border-radius: 10px;

  .view-button {
    display: inline-block;
    width: 60px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    text-align: center;

    .map-icon,
    .list-icon {
      width: 37px;
      height: 33px;
      background-size: 100%;
      background-repeat: no-repeat;
      display: inline-block;
    }

    .map-icon {
      background-image: url(../../../assets/img/list.svg); // TODO: Change to map icon
    }

    .list-icon {
      background-image: url(../../../assets/img/list.svg);
    }

    .label {
      line-height: 0;
    }
  }
}
