.view-toggle-container {
  border: 3px solid rgb(0, 160, 153);
  border-radius: 0;

  .view-button {
    display: inline-block;
    width: 60px;
    cursor: pointer;
    background-color: #E0E0E0;
    text-align: center;

    .map-icon,
    .list-icon {
      width: 55px;
      height: 55px;
      background-size: 100%;
      background-repeat: no-repeat;
      display: inline-block;
    }

    .map-icon {
      background-image: url(../../../assets/img/mapGray.svg);
    }

    .list-icon {
      background-image: url(../../../assets/img/list.svg);
    }
  }
}
