.view-toggle-container {
  border: 10px solid rgb(0, 160, 153);
  border-radius: 10px;

  @media only screen and (max-width: 600px) {
    margin-left: 12px;
  }

  .view-button {
    display: inline-block;
    width: 60px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    text-align: center;

    .map-icon,
    .list-icon {
      width: 45px;
      height: 45px;
      background-size: 100%;
      background-repeat: no-repeat;
      display: inline-block;
    }

    .map-icon {
      background-image: url(../../../assets/img/map.svg);
    }

    .list-icon {
      background-image: url(../../../assets/img/list.svg);
    }
  }
}
