<div class="qna-item" [class.open]="open">
  <div class="question-container">
    <div class="question-mark"></div>
    <div class="question-text">
      {{ qnaItem.question }}
    </div>
    <div class="question-collapse-btn" (click)="open = !open">
      <div class="question-collapse-btn-text">
        {{ open ? 'סגור' : 'תשובה' }}
      </div>
      <i class="fas" [class.fa-angle-double-down]="!open" [class.fa-angle-double-up]="open"></i>
    </div>
  </div>
  <div *ngIf="open" class="answer-container" [innerHtml]="answerSafeHtml"></div>
</div>
