<div class="container">
  <strong class="title">מקרא:</strong>
  <div class="row">
    <img src="/assets/img/map/meetings-map-invited.svg" class="icon">
    <div class="label">אדום - סגור למוזמנים בלבד</div>
  </div>
  <div class="row">
    <img src="/assets/img/map/meetings-map-open.svg" class="icon">
    <div class="label">ירוק - פתוח לקהל</div>
  </div>
  <div class="row">
    <img src="/assets/img/map/meetings-map-full.svg" class="icon">
    <div class="label">אפור - תפוסה מלאה</div>
  </div>
  <div class="row">
    <img src="/assets/img/map/meetings-map-current.svg" class="icon">
    <div class="label">כחול - השיבוץ שלי</div>
  </div>
</div>
