.login-popup-container {
  position: relative;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  max-width: 570px;

  .close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    border: none;
    color: #868686;
    background-color: #404040;
    cursor: pointer;

    @media only screen and (min-width: 600px) {
      transform: translateX(100%);
    }
  }

  .tabs {
    width: 100%;
    display: flex;
    border-top: 5px solid rgb(0, 160, 153);

    .tab {
      height: 70px;
      font-size: 36px;
      letter-spacing: 6px;
      flex: 1;
      color: rgb(0, 160, 153);
      background-color: white;
      border: 1px solid rgb(0, 160, 153);

      &.current {
        color: white;
        background-color: rgb(0, 160, 153);
      }
    }
  }

  .content-container {
    flex: 1;
    position: relative;
    background-color: white;
    left: 0;
  }
}

::ng-deep {
  .login-form {
    .body {
      padding: 35px 40px 45px 40px;

      .title {
        font-size: 36px;
        font-family: "arbel";
        color: rgb(55, 135, 177);
        letter-spacing: 6px;
        margin-bottom: 20px;
      }

      .description {
        margin: 10px 0;
      }

      .input {
        font-family: "Heebo";
        padding: 10px;
        height: 50px;
        max-width: 490px;
        width: 100%;
        border-radius: 5px;
        background-color: rgb(245, 245, 245);
        font-size: 16px;
        color: rgb(17, 17, 17);
        border: none;
        margin-bottom: 10px;

        &:focus {
          background-color: white;
          outline: 1px solid rgb(0, 160, 153);
        }

        &.invalid {
          border: 1px solid red;
        }
      }
    }

    .footer {
      margin-top: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;

      .nav-button {
        cursor: pointer;
        font-size: 16px;
        font-family: "Heebo";
        color: rgb(0, 160, 153);
        background-color: transparent;
        border: none;
      }

      .divider {
        margin: 0 10px;
        width: 1px;
        height: 15px;
        background-color: gray;
      }
    }

    .social-buttons {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      flex-wrap: wrap;

      @media only screen and (max-width: 600px) {
        justify-content: center;
      }

      .social-button {
        flex: 0 0 230px;
        margin-bottom: 5px;
      }
    }

    .main-button {
      width: 100%;
      height: 90px;
      font-size: 36px;
      letter-spacing: 6px;
    }
  }
}
