:host {
  position: unset;

  .container {
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 5px rgba(1, 1, 1, 0.15);

    .title {
      font-family: "arbel";
      font-size: 18px;
    }

    .button {
      margin: 4px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid rgb(0, 160, 153);
      width: 50px;
      height: 20px;
      font-size: 15px;
      font-family: "arbel";
      color: rgb(0, 115, 109);
      background-color: white;
      cursor: pointer;
    }
  }
}
