.show-full-meetings-container {
  margin: 5px 0;
}

.list-header {
  .date-col {
    flex: 0 1 130px;
  }

  .participants-col {
    flex: 0 1 175px;
  }

  .join-col {
    flex: 0 1 130px;
  }
}

.meeting-items-container {
  height: 800px;

  @media only screen and (max-width: 1000px) {
    height: 700px;
  }

  @media only screen and (max-width: 650px) {
    height: 450px;
  }

  .meeting-items {
    height: 100%;
    direction: ltr;
  }
}
