.meeting-item {
  display: flex;
  flex-flow: row;

  .meeting-item-col {
    flex: 1;
    display: flex;
    align-items: flex-start;
    margin: 45px 15px;
    font-size: 19px;
    color: rgb(129, 129, 129);

    &:first-child {
      margin-right: 0;
    }

    &:last-child {
      margin-left: 0;
    }

    &.meeting-name {
      font-size: 24px;
      font-family: 'Arbel';
      color: rgb(0, 115, 109);
    }

    &.meeting-address::before {
      content: '';
      position: absolute;
      width: 12px;
      height: 17px;
      background-image: url(../../../assets/img/location.png);
      background-size: cover;
      right: -18px;
      top: 6px;
    }

    &.meeting-date {
      display: flex;
      justify-content: center;

      .meeting-date-text {
        flex: 0 1 auto;
      }

      &::before {
        flex: 0 1 auto;
        content: '';
        width: 14px;
        height: 14px;
        background-image: url(../../../assets/img/calend.png);
        background-size: cover;
        margin-left: 10px;
        margin-top: 6px;
      }
    }

    &.meeting-button {
      display: flex;
      justify-content: flex-end;

      .join-button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid rgb(0, 160, 153);
        width: 125px;
        max-width: 125px;
        height: 40px;
        font-size: 20px;
        font-family: 'Arbel';
        color: rgb(0, 115, 109);
      }
    }
  }
}

.meeting-item-line {
  height: 1px;
  background-color: rgb(227, 229, 231);
}

// .Line {
//   background-image: url('Line.png');
//   position: absolute;
//   left: 374px;
//   top: 2850px;
//   width: 1170px;
//   height: 1px;
//   z-index: 26;
// }
