:host {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;

  .show-full-meetings {
    position: absolute;
    left: 0;
  }

  .list-header {
    .date-col {
      flex: 0 1 130px;
    }

    .participants-col {
      flex: 0 1 140px;
    }
  }

  .meeting-items {
    height: 100%;
    direction: ltr;
  }
}
