<cdk-virtual-scroll-viewport itemSize="50" class="meeting-list">
  <div class="meeting-item" *ngFor="let meeting of meetings">
    <div class="meeting-item-col meeting-name">{{meeting.title}}</div>
    <div class="meeting-item-col meeting-address">{{meeting.address.formattedAddress}}</div>
    <div class="meeting-item-col meeting-date">
      <div class="meeting-date-text">
        03.04.2019
      </div>
    </div>
    <div class="meeting-item-col meeting-participant">
      <span class="meeting-label">כמות משתתפים: </span>
      <span>{{meeting.capacity}}</span>
    </div>
    <div class="meeting-item-col meeting-bereaved">
      <span class="meeting-label">אח/ות: </span>
      <span *ngFor="let bereaved of meeting.bereaveds">
        {{bereaved.firstName + ' ' + bereaved.lastName}}
      </span>
    </div>
    <div class="meeting-item-col meeting-button">
      <div class="join-button">
        שיבוץ
      </div>
    </div>
  </div>
</cdk-virtual-scroll-viewport>
