<app-list-header [(sort)]="sortedColumn" (sortChange)="sort()">
  <app-list-column [field]="'title'">
    שם מפגש
  </app-list-column>
  <app-list-column [field]="'address'">
    כתובת
  </app-list-column>
  <app-list-column [field]="'date'">
    תאריך
  </app-list-column>
  <app-list-column [field]="'capacity'">
    כמות משתתפים
  </app-list-column>
  <app-list-column [field]="'bereaveds'">
    אח/ות
  </app-list-column>
  <app-list-column></app-list-column>
</app-list-header>
<cdk-virtual-scroll-viewport itemSize="50" class="meeting-items">
  <div class="meeting-item" *ngFor="let meeting of sortedMeetings">
    <div class="meeting-item-col meeting-name">
      {{meeting.title}}
    </div>
    <div class="meeting-item-col meeting-address">
      {{meeting.address.formattedAddress}}
    </div>
    <div class="meeting-item-col meeting-date">
      <div class="meeting-date-text">
        {{meeting.date | date: 'dd.MM.yyyy'}}
      </div>
    </div>
    <div class="meeting-item-col meeting-participant">
      {{meeting.capacity}}
      <span *ngIf="meeting.invited" style="margin-right: 2px;">
        - מוזמנים בלבד
      </span>
    </div>
    <div class="meeting-item-col meeting-bereaved">
      <span *ngIf="meeting.bereaved">
        {{meeting.bereaved.firstName + ' ' + meeting.bereaved.lastName}}
      </span>
    </div>
    <div class="meeting-item-col meeting-button">
      <div class="join-button">
        שיבוץ
      </div>
    </div>
  </div>
</cdk-virtual-scroll-viewport>
