<div class="search-bar">
    <input class="search-input" placeholder="מילת חיפוש" />
    <div class="search-button">חפש</div>
</div>
<div class="filter-header">סנן לפי:</div>
<div class="filters-bar">
    <div class="filter-select"></div>
    <div class="filter-select"></div>
    <div class="filter-select"></div>
    <div class="filter-select"></div>
    <div class="filter-select"></div>
    <div class="filter-select hidden"></div>
</div>
<div class="meeting-item">
    <div class="meeting-item-col meeting-name">משפחת מנור</div>
    <div class="meeting-item-col meeting-address">שדרות ירושלים 8, חולון</div>
    <div class="meeting-item-col meeting-date">
        <div class="meeting-date-text">
            03.04.2019
        </div>
    </div>
    <div class="meeting-item-col meeting-participant">כמות משתתפים: 7/30</div>
    <div class="meeting-item-col meeting-brother">אח/ות: ____________</div>
    <div class="meeting-item-col meeting-button">
        <div class="join-button">
            שיבוץ
        </div>
    </div>
</div>
<div class="meeting-item-line"></div>
<div class="meeting-item">
    <div class="meeting-item-col meeting-name">משפחת כהן</div>
    <div class="meeting-item-col meeting-address">יוחנן הסנדלר, 42, ראשון לציון</div>
    <div class="meeting-item-col meeting-date">
        <div class="meeting-date-text">
            03.04.2019
        </div>
    </div>
    <div class="meeting-item-col meeting-participant">מוזמנים בלבד (35)</div>
    <div class="meeting-item-col meeting-brother">אח/ות: אורית שטרק הראל</div>
    <div class="meeting-item-col meeting-button">
        <div class="join-button">
            שיבוץ
        </div>
    </div>
</div>
<div class="meeting-item-line"></div>
<div class="meeting-item">
    <div class="meeting-item-col meeting-name">משפחת אלחרר</div>
    <div class="meeting-item-col meeting-address">שדרות ירושלים 8, חולון</div>
    <div class="meeting-item-col meeting-date">
        <div class="meeting-date-text">
            03.04.2019
        </div>
    </div>
    <div class="meeting-item-col meeting-participant">כמות משתתפים: 7/30</div>
    <div class="meeting-item-col meeting-brother">אח/ות: ____________</div>
    <div class="meeting-item-col meeting-button">
        <div class="join-button">
            שיבוץ
        </div>
    </div>
</div>
<div class="meeting-item-line"></div>
<div class="meeting-item">
    <div class="meeting-item-col meeting-name">משפחת רבינוביץ</div>
    <div class="meeting-item-col meeting-address">שדרות ירושלים 8, חולון</div>
    <div class="meeting-item-col meeting-date">
        <div class="meeting-date-text">
            03.04.2019
        </div>
    </div>
    <div class="meeting-item-col meeting-participant">מוזמנים בלבד (35)</div>
    <div class="meeting-item-col meeting-brother">אח/ות: ____________</div>
    <div class="meeting-item-col meeting-button">
        <div class="join-button">
            שיבוץ
        </div>
    </div>
</div>
<div class="meeting-item-line"></div>
<div class="meeting-item">
    <div class="meeting-item-col meeting-name">משפחת מנור</div>
    <div class="meeting-item-col meeting-address">שדרות ירושלים 8, חולון</div>
    <div class="meeting-item-col meeting-date">
        <div class="meeting-date-text">
            03.04.2019
        </div>
    </div>
    <div class="meeting-item-col meeting-participant">כמות משתתפים: 7/30</div>
    <div class="meeting-item-col meeting-brother">אח/ות: ____________</div>
    <div class="meeting-item-col meeting-button">
        <div class="join-button">
            שיבוץ
        </div>
    </div>
</div>
<div class="meeting-item-line"></div>
<div class="meeting-item">
    <div class="meeting-item-col meeting-name">משפחת כהן</div>
    <div class="meeting-item-col meeting-address">יוחנן הסנדלר, 42, ראשון לציון</div>
    <div class="meeting-item-col meeting-date">
        <div class="meeting-date-text">
            03.04.2019
        </div>
    </div>
    <div class="meeting-item-col meeting-participant">מוזמנים בלבד (35)</div>
    <div class="meeting-item-col meeting-brother">אח/ות: אורית שטרק הראל</div>
    <div class="meeting-item-col meeting-button">
        <div class="join-button">
            שיבוץ
        </div>
    </div>
</div>
<div class="meeting-item-line"></div>
<div class="meeting-item">
    <div class="meeting-item-col meeting-name">משפחת אלחרר</div>
    <div class="meeting-item-col meeting-address">שדרות ירושלים 8, חולון</div>
    <div class="meeting-item-col meeting-date">
        <div class="meeting-date-text">
            03.04.2019
        </div>
    </div>
    <div class="meeting-item-col meeting-participant">כמות משתתפים: 7/30</div>
    <div class="meeting-item-col meeting-brother">אח/ות: ____________</div>
    <div class="meeting-item-col meeting-button">
        <div class="join-button">
            שיבוץ
        </div>
    </div>
</div>
<div class="meeting-item-line"></div>
<div class="meeting-item">
    <div class="meeting-item-col meeting-name">משפחת רבינוביץ</div>
    <div class="meeting-item-col meeting-address">שדרות ירושלים 8, חולון</div>
    <div class="meeting-item-col meeting-date">
        <div class="meeting-date-text">
            03.04.2019
        </div>
    </div>
    <div class="meeting-item-col meeting-participant">מוזמנים בלבד (35)</div>
    <div class="meeting-item-col meeting-brother">אח/ות: ____________</div>
    <div class="meeting-item-col meeting-button">
        <div class="join-button">
            שיבוץ
        </div>
    </div>
</div>
<div class="meeting-item-line"></div>