.site-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;

  .site-checkbox-input {
    width: 18px;
    height: 18px;
    border: 1px solid rgb(180, 180, 180);
    margin: 0 5px;
    position: relative;

    &.invalid {
      border-color: red;
    }
  }

  .site-checkbox-label {
    font-family: 'Heebo';
    color: rgb(17, 17, 17);
  }

  &.checked {
    .site-checkbox-input::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 13px;
      height: 13px;
      background-image: url(../../../assets/img/icon-check.png);
      background-size: 100% 100%;
    }
  }
}
