<img class="image-header" src="../../../assets/img/articlesHeader.jpg.png" />
<div class="site-divider"></div>
<h1 class="small-heading" data-aos="fade-up" data-aos-duration="1000">
  אודות העמותה
</h1>
<h2 class="medium-heading" data-aos="fade-up" data-aos-duration="1000">
  עלינו בתקשורת
</h2>
<div class="articles-contianer">
  <div class="articles-list-contianer">
    <img class="circle-top-right" src="../../assets/img/gallery_top_right_circle.png" alt="" />
    <img class="circle-middle-left" src="../../assets/img/gallery_middle_left_circle.png" alt="" />

    <div *ngFor="let articleItem of articles" class="article-item">
      <div class="article-item-img-container">
        <img class="article-item-img" [attr.src]="articleItem.imgUrl" />
      </div>
      <div class="article-item-date">
        {{ articleItem.publishDate | date: 'mediumDate':null:'he' }}
      </div>
      <div class="article-item-title">
        {{ articleItem.title }}
      </div>
      <div class="article-item-desc">
        {{ articleItem.desc }}
      </div>
      <a class="article-item-link" [attr.href]="articleItem.href" target="_blank">
        לכתבה המלאה
      </a>
    </div>
  </div>
</div>
