.card {
  position: relative;

  .header {
    height: 235px;
    width: 235px;
    position: relative;

    @media only screen and (max-width: 768px) {
      width: 130px;
      height: 130px;
    }

    .image {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center top;
      background-size: cover;
      border-radius: 1px 1px 0 0;
      transition: all 0.3s ease-in-out;

      &.back-image {
        opacity: 0;
        position: absolute;
        top: 0;

        &.hover {
          opacity: 1;
        }
      }
    }
  }

  .body {
    position: relative;
    text-align: center;

    .member-details {
      width: 100%;
      font-size: 18px;
      padding-top: 7px;
      padding-bottom: 10px;
      color: #999999;
      background-color: white;
      border-bottom: 3px solid #00a099;
      transition: all 0.3s ease-out;

      @media only screen and (max-width: 768px) {
        font-size: 10px;
      }

      .member-name {
        font-weight: bold;
      }

      &.hover {
        color: white;
        background-color: #00a099;
        transform: translateY(-22px);

        @media only screen and (max-width: 768px) {
          transform: translateY(-11px);
        }

        &.slains-2 {
          transform: translateY(-44px);

          @media only screen and (max-width: 768px) {
            transform: translateY(-22px);
          }
        }
      }
    }

    .slains {
      width: 100%;
      min-height: 38px;
      font-size: 16px;
      padding-top: 5px;
      padding-bottom: 10px;
      color: white;
      background-color: #00a099;
      position: absolute;
      bottom: 0;
      opacity: 0;
      transition: all 0.3s ease-out;

      @media only screen and (max-width: 768px) {
        min-height: 24px;
        font-size: 8px;
      }

      &.hover {
        opacity: 1;
      }

      .member-email {
        .member-email-img {
          height: 15px;
          width: 15px;
          margin-left: 2px;
          vertical-align: sub;

          @media only screen and (max-width: 768px) {
            height: 8px;
            width: 8px;
          }
        }

        .member-email-link {
          color: white;
        }
      }

      .slain {
        .slain-link {
          margin-right: 3px;
          color: white;
          text-decoration: underline;
        }
      }
    }
  }
}
