<app-meetings-map-legend *ngIf="showLegend" [user]="user"></app-meetings-map-legend>
<app-meetings-map-navigator *ngIf="showLegend" (navigate)="navigate($event)"></app-meetings-map-navigator>
<app-meetings-map-guide *ngIf="meetings && showGuide" (guideCompleted)="guideCompleted.emit()"></app-meetings-map-guide>
<agm-map class="map" [latitude]="mapLatitude" [longitude]="mapLongitude" [zoom]="mapZoom" [minZoom]="7" [maxZoom]="17"
  [styles]="[{featureType: 'poi', stylers: [{visibility: 'off'}]}]" [restriction]="restriction"
  [gestureHandling]="'greedy'">
  <agm-marker-cluster [gridSize]="60" [minimumClusterSize]="4"
    [styles]="[{url:'/assets/img/map/meetings-map-cluster.svg',width:50,height:50,textSize:1,textColor:'#ffffff',backgroundPosition:'0 5px'}]">
    <ng-template ngFor let-meeting [ngForOf]="meetings" let-i="index" [ngForTrackBy]="trackByFn">
      <agm-marker [latitude]="meeting.address.latitude" [longitude]="meeting.address.longitude" [label]="''"
        [iconUrl]='{"url": getMeetingIconUrl(meeting),"scaledSize": {"height": 40, "width": 40}}'
        [markerDraggable]="false" (markerClick)="lastOpenMarker?.close(); lastOpenMarker = infoWindow">
        <agm-info-window #infoWindow>
          <app-meetings-map-meeting [meeting]="meeting" [user]="user" (joinMeeting)="joinMeeting.emit($event)">
          </app-meetings-map-meeting>
        </agm-info-window>
      </agm-marker>
    </ng-template>
  </agm-marker-cluster>
</agm-map>
