<div *ngIf="!meetings" class="loading">
  טוען..
</div>
<agm-map class="map" [latitude]="mapLatitude" [longitude]="mapLongitude" [zoom]="mapZoom" [minZoom]="7"
  [restriction]="restriction" [gestureHandling]="'cooperative'">
  <ng-template ngFor let-event [ngForOf]="meetings" let-i="index" [ngForTrackBy]="trackByFn">
    <agm-marker [latitude]="event.address.latitude" [longitude]="event.address.longitude" [label]="''"
      [markerDraggable]="false">
      <agm-info-window #infoWindow>
        <div>
          <div>
            <strong>כותרת: </strong>
            <span>{{event.title}}</span>
          </div>
          <div>
            <strong>כתובת: </strong>
            <span>{{event.address.formattedAddress}}</span>
          </div>
        </div>
      </agm-info-window>
    </agm-marker>
  </ng-template>
</agm-map>
<app-meetings-map-guide></app-meetings-map-guide>
