.map-container {
  height: 600px;

  @media only screen and (max-width: 650px) {
    height: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }

  .map {
    height: 100%;
  }
}
