.container {
  max-width: calc(100% - 200px);
  width: 1170px;
  margin-left: auto;
  margin-right: auto;

  @media only screen and (max-width: 1000px) {
    max-width: calc(100% - 50px);
  }

  @media only screen and (max-width: 650px) {
    max-width: 100%;
  }
}

.meetings-image-header {
  width: 100%;
  border-bottom: solid rgb(0, 160, 153) 6px;
  margin-bottom: 123px;
}

.meetings-container {
  margin-bottom: 50px;
  height: 800px;

  @media only screen and (max-width: 1000px) {
    height: 700px;
  }

  @media only screen and (max-width: 650px) {
    height: 650px;
  }

  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999;
  }
}
