<img class="meetings-image-header" src="../../../assets/img/meetingsHeader.png" alt="Meetings Page Header Image" />
<div class="site-divider"></div>
<div class="small-heading">האחים שלנו !</div>
<div class="medium-heading">איך נראים המפגשים שלנו?</div>
<div class="site-text">
  ביום ראשון ה-05/05/2019 בשעה 20:00, ולקראת יום הזיכרון לחללי מערכות ישראל
  ונפגעי פעולות האיבה, יתארחו אחים ואחיות שכולים במוקדים שונים ברחבי הארץ ויספרו
  לנו את סיפורם שהוא בעצם - הסיפור של כולנו.
  <br /><br />
  אנחנו מזמינים אתכם לפתוח את ביתכם ולארח אח/ות שכולים ולשמוע את סיפורם - סיפור
  של התמודדות, אהבה, חברות וכאב או להיות חלק מקהל השומעים ולתת מקום לזכרון
  ולהנצחה ביום הזכרון הקרוב.
  <br /><br />
  ואם אתם אח/ות שכולים - תהיו הקול בעבור עצמכם ובעבור האחים שלכם, ספרו את
  סיפורכם המשותף.
</div>
<div class="flip-cards">
  <app-flip-card [frontImage]="'/assets/img/cardImgParticipant.png'" [frontTitle]="'אני רוצה להשתתף'"
    [backText]="'מעוניין להתארח באחד המפגשים?'" [backButtonText]="'לפרטים נוספים'" [backButtonUrl]="">
  </app-flip-card>
  <app-flip-card [frontImage]="'/assets/img/cardImgTeller.png'" [frontTitle]="'אני רוצה לספר'"
    [backText]="'אח/אחות שכולים? מעוניינים לספר את ספורכם האישי?'" [backButtonText]="'לפרטים נוספים'"
    [backButtonUrl]="">
  </app-flip-card>
  <app-flip-card [frontImage]="'/assets/img/cardImgHost.png'" [frontTitle]="'אני רוצה לארח'"
    [backText]="'מעוניין לפתוח את ביתך ולארח מפגש?'" [backButtonText]="'לפרטים נוספים'" [backButtonUrl]="">
  </app-flip-card>
</div>

<div class="meetings-filters-container">
  <app-meetings-filters [(view)]="view" (filterChange)="filterMeetings($event)"></app-meetings-filters>
</div>

<div class="meetings-container">
  <div *ngIf="!meetings?.length" class="loading">
    טוען..
  </div>
  <ng-template [ngIf]="view === 'map'" [ngIfElse]="meetingsList">
    <app-meetings-map [user]="user" [meetings]="filteredMeetings" [showGuide]="mapShowGuide$ | async" (joinMeeting)="onJoinMeeting($event)" (guideCompleted)="onMapGuideCompleted()"></app-meetings-map>
  </ng-template>

  <ng-template #meetingsList>
    <app-meetings-list [user]="user" [meetings]="filteredMeetings" (joinMeeting)="onJoinMeeting($event)"> </app-meetings-list>
  </ng-template>
</div>
