.meetings-image-header {
  width: 100%;
  border-bottom: solid rgb(0, 160, 153) 6px;
  margin-bottom: 123px;
}

.meetings-filters-container {
  max-width: calc(100% - 200px);
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  @media only screen and (max-width: 600px) {
    margin-right: 0;
  }
}

.meetings-container {
  max-width: calc(100% - 200px);
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 51.4%;
  margin-bottom: 200px;

  @media only screen and (max-width: 600px) {
    max-width: 104vw;
    margin-right: 0;
    height: 65vh;
  }

  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999;
  }
}
