.meetings-image-header {
  width: 100%;
  border-bottom: solid rgb(0, 160, 153) 6px;
  margin-bottom: 123px;
}

.meetings-container {
  margin-bottom: 50px;
  height: 800px;
  position: relative;

  @media only screen and (max-width: 1000px) {
    height: 700px;
  }

  @media only screen and (max-width: 650px) {
    height: 650px;
  }

  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999;
  }
}
