.input-container {
  padding: 5px;
  background-color: white;
  border: 1px solid rgb(229, 229, 229);
  display: flex;
  align-items: center;

  .input-icon {
    flex: 0 0 auto;
    width: 65px;
    height: 50px;
    background-position: 50% 50%;
    background-size: 24px 24px;
    background-repeat: no-repeat;
  }

  .input-label {
    flex: 0 0 auto;
    font-size: 18px;
    margin-left: 10px;
    color: rgb(153, 153, 153);
    font-family: 'Heebo';
  }

  .input-text {
    flex: 0 0 auto;
    font-size: 18px;
    font-family: 'Heebo';
    color: rgb(153, 153, 153);
  }

  .input-info {
    flex: 0 0 auto;
    margin-right: 10px;
    font-size: 18px;
    font-family: 'Heebo';
    color: rgb(153, 153, 153);
  }
}
